<datalist th:if="${lang == 'en'}" id="departments">
	<option value="Administrative Tribunals Support Service of Canada">Administrative
		Tribunals Support Service of Canada</option>
	<option value="Advisory Panel on Responsible Conduct of Research">Advisory
		Panel on Responsible Conduct of Research</option>
	<option value="Agriculture and Agri-Food Canada">Agriculture
		and Agri-Food Canada</option>
	<option value="Atlantic Canada Opportunities Agency">Atlantic
		Canada Opportunities Agency</option>
	<option value="Bedford Institute of Oceanography">Bedford
		Institute of Oceanography</option>
	<option value="Canada-Alberta Oil Sands Environmental Monitoring">Canada-Alberta
		Oil Sands Environmental Monitoring</option>
	<option value="Canada Agricultural Review Tribunal">Canada
		Agricultural Review Tribunal</option>
	<option value="Canada Border Services Agency">Canada Border
		Services Agency</option>
	<option value="Canada Economic Development for Quebec Regions">Canada
		Economic Development for Quebec Regions</option>
	<option value="Canada Employment Insurance Commission">Canada
		Employment Insurance Commission</option>
	<option value="Canada Excellence Research Chairs">Canada
		Excellence Research Chairs</option>
	<option value="Canada Firearms Centre">Canada Firearms Centre</option>
	<option value="Canada Industrial Relations Board">Canada
		Industrial Relations Board</option>
	<option value="Canada Infrastructure Bank">Canada
		Infrastructure Bank</option>
	<option value="Canada Research Chairs">Canada Research Chairs</option>
	<option value="Canada Revenue Agency">Canada Revenue Agency</option>
	<option value="Canada School of Public Service">Canada School
		of Public Service</option>
	<option value="Canadian Army">Canadian Army</option>
	<option value="Canadian Centre for Housing Technology">Canadian
		Centre for Housing Technology</option>
	<option value="Canadian Centre for Occupational Health and Safety">Canadian
		Centre for Occupational Health and Safety</option>
	<option value="Canadian Coast Guard">Canadian Coast Guard</option>
	<option value="Canadian Commercial Corporation">Canadian
		Commercial Corporation</option>
	<option value="Canadian Conservation Institute">Canadian
		Conservation Institute</option>
	<option value="Canadian Cultural Property Export Review Board">Canadian
		Cultural Property Export Review Board</option>
	<option value="Canadian Dairy Information Centre (CDIC)">Canadian
		Dairy Information Centre (CDIC)</option>
	<option value="Canadian Environmental Assessment Agency">Canadian
		Environmental Assessment Agency</option>
	<option value="Canadian Food Inspection Agency">Canadian Food
		Inspection Agency</option>
	<option value="Canadian Grain Commission">Canadian Grain
		Commission</option>
	<option value="Canadian Heritage">Canadian Heritage</option>
	<option value="Canadian Heritage Information Network">Canadian
		Heritage Information Network</option>
	<option value="Canadian Human Rights Commission">Canadian
		Human Rights Commission</option>
	<option value="Canadian Institutes of Health Research">Canadian
		Institutes of Health Research</option>
	<option value="Canadian Intellectual Property Office">Canadian
		Intellectual Property Office</option>
	<option value="Canadian Intergovernmental Conference Secretariat">Canadian
		Intergovernmental Conference Secretariat</option>
	<option value="Canadian International Trade Tribunal">Canadian
		International Trade Tribunal</option>
	<option value="Canadian Northern Economic Development Agency">Canadian
		Northern Economic Development Agency</option>
	<option value="Canadian Nuclear Safety Commission">Canadian
		Nuclear Safety Commission</option>
	<option value="Canadian Pari-Mutuel Agency">Canadian
		Pari-Mutuel Agency</option>
	<option
		value="Canadian Radio-television and Telecommunications Commission">Canadian
		Radio-television and Telecommunications Commission</option>
	<option value="Canadian Security Intelligence Service">Canadian
		Security Intelligence Service</option>
	<option value="Canadian Space Agency">Canadian Space Agency</option>
	<option value="Canadian Special Operations Forces Command">Canadian
		Special Operations Forces Command</option>
	<option value="Canadian Transportation Agency">Canadian
		Transportation Agency</option>
	<option value="Civilian Review and Complaints Commission for the RCMP">Civilian
		Review and Complaints Commission for the RCMP</option>
	<option value="Committee on the status of Endangered Wildlife">Committee
		on the status of Endangered Wildlife</option>
	<option value="Communications Research Centre Canada">Communications
		Research Centre Canada</option>
	<option value="Communications Security Establishment">Communications
		Security Establishment</option>
	<option value="Competition Bureau Canada">Competition Bureau
		Canada</option>
	<option value="Competition Tribunal">Competition Tribunal</option>
	<option value="Copyright Board Canada">Copyright Board Canada</option>
	<option value="Correctional Service Canada">Correctional
		Service Canada</option>
	<option value="Criminal Intelligence Service Canada">Criminal
		Intelligence Service Canada</option>
	<option value="Defence Research and Development Canada">Defence
		Research and Development Canada</option>
	<option value="Democratic Institutions">Democratic
		Institutions</option>
	<option value="Department of Finance Canada">Department of
		Finance Canada</option>
	<option value="Department of Justice Canada">Department of
		Justice Canada</option>
	<option value="Education in Canada">Education in Canada</option>
	<option value="Employment and Social Development Canada">Employment
		and Social Development Canada</option>
	<option value="Environmental Protection Review Canada">Environmental
		Protection Review Canada</option>
	<option value="Environment and Climate Change Canada">Environment
		and Climate Change Canada</option>
	<option value="Farm Products Council of Canada">Farm Products
		Council of Canada</option>
	<option
		value="Federal Economic Development Agency for Southern Ontario">Federal
		Economic Development Agency for Southern Ontario</option>
	<option
		value="Federal Economic Development Initiative for Northern Ontario">Federal
		Economic Development Initiative for Northern Ontario</option>
	<option value="Financial Consumer Agency of Canada">Financial
		Consumer Agency of Canada</option>
	<option
		value="Financial Transactions and Reports Analysis Centre of Canada">Financial
		Transactions and Reports Analysis Centre of Canada</option>
	<option value="Fisheries and Oceans Canada">Fisheries and
		Oceans Canada</option>
	<option value="Genomics Research and Defence Initiative">Genomics
		Research and Defence Initiative</option>
	<option value="Global Affairs Canada">Global Affairs Canada</option>
	<option value="Health Canada">Health Canada</option>
	<option value="Historic Sites and Monuments Board of Canada">Historic
		Sites and Monuments Board of Canada</option>
	<option value="Human Rights Tribunal of Canada">Human Rights
		Tribunal of Canada</option>
	<option value="Immigration, Refugees and Citizenship Canada">Immigration,
		Refugees and Citizenship Canada</option>
	<option value="Immigration and Refugee Board of Canada">Immigration
		and Refugee Board of Canada</option>
	<option value="Independent Review Panel for Defence Acquisition">Independent
		Review Panel for Defence Acquisition</option>
	<option value="Indian Oil and Gas Canada">Indian Oil and Gas
		Canada</option>
	<option value="Indigenous and Northern Affairs Canada">Indigenous
		and Northern Affairs Canada</option>
	<option value="Industrial Technologies Office">Industrial
		Technologies Office</option>
	<option value="Infrastructure Canada">Infrastructure Canada</option>
	<option value="Innovation, Science and Economic Development Canada">Innovation,
		Science and Economic Development Canada</option>
	<option value="Innovation Hub">Innovation Hub</option>
	<option value="Integrated Terrorism Assessment Centre">Integrated
		Terrorism Assessment Centre</option>
	<option value="Interagency Advisory Panel on Research Ethics">Interagency
		Advisory Panel on Research Ethics</option>
	<option value="Intergovernmental Affairs">Intergovernmental
		Affairs</option>
	<option value="Labour Program">Labour Program</option>
	<option value="Leader of the Government in the House of Commons">Leader
		of the Government in the House of Commons</option>
	<option value="Library and Archives Canada">Library and
		Archives Canada</option>
	<option value="Marine Security Operations Centres Project">Marine
		Security Operations Centres Project</option>
	<option value="Measurement Canada">Measurement Canada</option>
	<option value="Military Grievances External Review Committee">Military
		Grievances External Review Committee</option>
	<option value="Military Police Complaints Commission of Canada">Military
		Police Complaints Commission of Canada</option>
	<option value="National Defence">National Defence</option>
	<option value="National Energy Board">National Energy Board</option>
	<option value="National Film Board">National Film Board</option>
	<option value="National Research Council Canada">National
		Research Council Canada</option>
	<option value="National Seniors Council">National Seniors
		Council</option>
	<option value="Natural Resources Canada">Natural Resources
		Canada</option>
	<option value="Natural Sciences and Engineering Research Council">Natural
		Sciences and Engineering Research Council</option>
	<option value="Networks of Centres of Excellence of Canada">Networks
		of Centres of Excellence of Canada</option>
	<option value="Northern Pipeline Agency Canada">Northern
		Pipeline Agency Canada</option>
	<option value="Occupational Health and Safety Tribunal Canada">Occupational
		Health and Safety Tribunal Canada</option>
	<option value="Office of the Chief Military Judge">Office of
		the Chief Military Judge</option>
	<option
		value="Office of the Commissioner for Federal Judicial Affairs Canada">Office
		of the Commissioner for Federal Judicial Affairs Canada</option>
	<option
		value="Office of the Communications Security Establishment Commissioner">Office
		of the Communications Security Establishment Commissioner</option>
	<option
		value="Office of the Extractive Sector Corporate Social Responsibility Counsellor">Office
		of the Extractive Sector Corporate Social Responsibility Counsellor</option>
	<option value="Office of the Federal Ombudsman for Victims of Crime">Office
		of the Federal Ombudsman for Victims of Crime</option>
	<option
		value="Office of the Ombudsman for the Department of National Defence and the Canadian Forces">Office
		of the Ombudsman for the Department of National Defence and the
		Canadian Forces</option>
	<option value="Office of the Procurement Ombudsman">Office of
		the Procurement Ombudsman</option>
	<option value="Office of the Superintendent of Bankruptcy Canada">Office
		of the Superintendent of Bankruptcy Canada</option>
	<option
		value="Office of the Superintendent of Financial Institutions Canada">Office
		of the Superintendent of Financial Institutions Canada</option>
	<option value="Office of the Taxpayers' Ombudsman">Office of
		the Taxpayers' Ombudsman</option>
	<option value="Office of the Veterans' Ombudsman">Office of
		the Veterans' Ombudsman</option>
	<option value="Parks Canada">Parks Canada</option>
	<option value="Parole Board of Canada">Parole Board of Canada</option>
	<option value="Patented Medicine Prices Review Board Canada">Patented
		Medicine Prices Review Board Canada</option>
	<option value="Physical Resources Bureau">Physical Resources
		Bureau</option>
	<option value="Polar Knowledge Canada">Polar Knowledge Canada</option>
	<option value="PPP Canada">PPP Canada</option>
	<option value="Privy Council Office">Privy Council Office</option>
	<option value="Public Health Agency of Canada">Public Health
		Agency of Canada</option>
	<option value="Public Prosecution Service of Canada">Public
		Prosecution Service of Canada</option>
	<option value="Public Safety Canada">Public Safety Canada</option>
	<option value="Public Servants Disclosure Protection Tribunal Canada">Public
		Servants Disclosure Protection Tribunal Canada</option>
	<option value="Public Service Commission of Canada">Public
		Service Commission of Canada</option>
	<option value="Public Service Labour Relations and Employment Board">Public
		Service Labour Relations and Employment Board</option>
	<option value="Public Services and Procurement Canada">Public
		Services and Procurement Canada</option>
	<option value="RCMP External Review Committee">RCMP External
		Review Committee</option>
	<option value="Registry of the Specific Claims Tribunal of Canada">Registry
		of the Specific Claims Tribunal of Canada</option>
	<option value="Royal Canadian Air Force">Royal Canadian Air
		Force</option>
	<option value="Royal Canadian Mounted Police">Royal Canadian
		Mounted Police</option>
	<option value="Royal Canadian Navy">Royal Canadian Navy</option>
	<option value="Saguenay - Lac-Saint-Jean">Saguenay -
		Lac-Saint-Jean</option>
	<option value="Security Intelligence Review Committee">Security
		Intelligence Review Committee</option>
	<option value="Service Canada">Service Canada</option>
	<option value="Shared Services Canada">Shared Services Canada</option>
	<option
		value="Social Sciences and Humanities Research Council of Canada">Social
		Sciences and Humanities Research Council of Canada</option>
	<option value="Social Security Tribunal of Canada">Social
		Security Tribunal of Canada</option>
	<option value="Statistics Canada">Statistics Canada</option>
	<option value="Status of Women Canada">Status of Women Canada</option>
	<option value="The Canadian Shellfish Sanitation Program">The
		Canadian Shellfish Sanitation Program</option>
	<option value="The Correctional Investigator Canada">The
		Correctional Investigator Canada</option>
	<option value="The National Battlefields Commission">The
		National Battlefields Commission</option>
	<option value="The Ontario-Quebec Continental Gateway">The
		Ontario-Quebec Continental Gateway</option>
	<option value="Translation Bureau">Translation Bureau</option>
	<option value="Transportation Appeal Tribunal of Canada">Transportation
		Appeal Tribunal of Canada</option>
	<option value="Transportation Safety Board of Canada">Transportation
		Safety Board of Canada</option>
	<option value="Transport Canada">Transport Canada</option>
	<option value="Treasury Board of Canada Secretariat">Treasury
		Board of Canada Secretariat</option>
	<option value="Veterans Affairs Canada">Veterans Affairs
		Canada</option>
	<option value="Veterans Review and Appeal Board">Veterans
		Review and Appeal Board</option>
	<option value="Western Economic Diversification Canada">Western
		Economic Diversification Canada</option>
	<option value="Wild Species">Wild Species</option>
	<option value="Youth">Youth</option>
	<option value="ι Other">ι Other</option>
</datalist>

<datalist th:if="${lang == 'fr'}" id="departments">
	<option 
		value="Administration du pipe-line du Nord Canada">Administration
		du pipe-line du Nord Canada</option>
	<option  value="Affaires autochtones et du Nord Canada">Affaires
		autochtones et du Nord Canada</option>
	<option  value="Affaires intergouvernementales">Affaires
		intergouvernementales</option>
	<option  value="Affaires mondiales Canada">Affaires
		mondiales Canada</option>
	<option 
		value="Agence canadienne d'inspection des aliments">Agence
		canadienne d'inspection des aliments</option>
	<option 
		value="Agence canadienne d'évaluation environnementale">Agence
		canadienne d'évaluation environnementale</option>
	<option 
		value="Agence canadienne de développement économique du Nord">Agence
		canadienne de développement économique du Nord</option>
	<option  value="Agence canadienne du pari mutuel">Agence
		canadienne du pari mutuel</option>
	<option 
		value="Agence de la consommation en matière financière du Canada">Agence
		de la consommation en matière financière du Canada</option>
	<option  value="Agence de la santé publique du Canada">Agence
		de la santé publique du Canada</option>
	<option 
		value="Agence de promotion économique du Canada atlantique">Agence
		de promotion économique du Canada atlantique</option>
	<option  value="Agence des services frontaliers du Canada">Agence
		des services frontaliers du Canada</option>
	<option  value="Agence du revenu du Canada">Agence
		du revenu du Canada</option>
	<option 
		value="Agence fédérale de développement économique pour le Sud de l'Ontario">Agence
		fédérale de développement économique pour le Sud de l'Ontario</option>
	<option  value="Agence spatiale canadienne">Agence
		spatiale canadienne</option>
	<option  value="Agriculture et Agroalimentaire Canada">Agriculture
		et Agroalimentaire Canada</option>
	<option  value="Anciens Combattants Canada">Anciens
		Combattants Canada</option>
	<option  value="Armée canadienne">Armée
		canadienne</option>
	<option  value="Aviation royale canadienne">Aviation
		royale canadienne</option>
	<option  value="Banque de l'infrastructure du Canada">Banque
		de l'infrastructure du Canada</option>
	<option  value="Bibliothèque et archives Canada">Bibliothèque
		et archives Canada</option>
	<option 
		value="Bureau de l'ombudsman de l'approvisionnement">Bureau
		de l'ombudsman de l'approvisionnement</option>
	<option 
		value="Bureau de l'ombudsman de la Défense nationale et des Forces canadiennes">Bureau
		de l'ombudsman de la Défense nationale et des Forces canadiennes</option>
	<option  value="Bureau de l'ombudsman des contribuables">Bureau
		de l'ombudsman des contribuables</option>
	<option 
		value="Bureau de l'ombudsman fédéral des victimes d'actes criminels">Bureau
		de l'ombudsman fédéral des victimes d'actes criminels</option>
	<option  value="Bureau de la concurrence Canada">Bureau
		de la concurrence Canada</option>
	<option 
		value="Bureau de la sécurité des transports du Canada">Bureau
		de la sécurité des transports du Canada</option>
	<option  value="Bureau de la traduction">Bureau
		de la traduction</option>
	<option 
		value="Bureau du commissaire du Centre de la sécurité des télécommunications">Bureau
		du commissaire du Centre de la sécurité des télécommunications</option>
	<option 
		value="Bureau du conseiller en responsabilité sociale des entreprises de l’industrie extractive">Bureau
		du conseiller en responsabilité sociale des entreprises de l’industrie
		extractive</option>
	<option  value="Bureau du Conseil privé">Bureau
		du Conseil privé</option>
	<option 
		value="Bureau du surintendant des faillites Canada">Bureau du
		surintendant des faillites Canada</option>
	<option 
		value="Bureau du surintendant des institutions financières Canada">Bureau
		du surintendant des institutions financières Canada</option>
	<option 
		value="Centre canadien d'hygiène et de sécurité au travail">Centre
		canadien d'hygiène et de sécurité au travail</option>
	<option 
		value="Centre canadien d'information laitière (CCIL)">Centre
		canadien d'information laitière (CCIL)</option>
	<option 
		value="Centre canadien des technologies résidentielles">Centre
		canadien des technologies résidentielles</option>
	<option 
		value="Centre d'analyse des opérations et déclarations financières du Canada">Centre
		d'analyse des opérations et déclarations financières du Canada</option>
	<option 
		value="Centre de la sécurité des télécommunications">Centre
		de la sécurité des télécommunications</option>
	<option 
		value="Centre de recherches sur les communications Canada">Centre
		de recherches sur les communications Canada</option>
	<option  value="Centre des armes à feu Canada">Centre
		des armes à feu Canada</option>
	<option  value="Centre d’innovation">Centre
		d’innovation</option>
	<option  value="Centre intégré d'évaluation du terrorisme">Centre
		intégré d'évaluation du terrorisme</option>
	<option 
		value="Chaires d'excellence en recherche du Canada">Chaires
		d'excellence en recherche du Canada</option>
	<option  value="Chaires de recherche du Canada">Chaires
		de recherche du Canada</option>
	<option 
		value="Comité de surveillance des activités de renseignement de sécurité">Comité
		de surveillance des activités de renseignement de sécurité</option>
	<option  value="Comité externe d'examen de la GRC">Comité
		externe d'examen de la GRC</option>
	<option 
		value="Comité externe d'examen des griefs militaires">Comité
		externe d'examen des griefs militaires</option>
	<option 
		value="Comité sur la situation des espèces en péril au Canada">Comité
		sur la situation des espèces en péril au Canada</option>
	<option 
		value="Commandement des Forces d’opérations spéciales du Canada">Commandement
		des Forces d’opérations spéciales du Canada</option>
	<option 
		value="Commissariat à la magistrature fédérale Canada">Commissariat
		à la magistrature fédérale Canada</option>
	<option 
		value="Commission canadienne d'examen des exportations de biens culturels">Commission
		canadienne d'examen des exportations de biens culturels</option>
	<option 
		value="Commission canadienne des droits de la personne">Commission
		canadienne des droits de la personne</option>
	<option  value="Commission canadienne des grains">Commission
		canadienne des grains</option>
	<option  value="Commission canadienne de sûreté nucléaire">Commission
		canadienne de sûreté nucléaire</option>
	<option 
		value="Commission civile d'examen et de traitement des plaintes relatives à la GRC">Commission
		civile d'examen et de traitement des plaintes relatives à la GRC</option>
	<option 
		value="Commission d'examen des plaintes concernant la police militaire du Canada">Commission
		d'examen des plaintes concernant la police militaire du Canada</option>
	<option 
		value="Commission de l'assurance-emploi du Canada">Commission
		de l'assurance-emploi du Canada</option>
	<option 
		value="Commission de l'immigration et du statut de réfugié du Canada">Commission
		de l'immigration et du statut de réfugié du Canada</option>
	<option 
		value="Commission de la fonction publique du Canada">Commission
		de la fonction publique du Canada</option>
	<option  value="Commission de révision agricole du Canada">Commission
		de révision agricole du Canada</option>
	<option 
		value="Commission des champs de bataille nationaux">Commission
		des champs de bataille nationaux</option>
	<option 
		value="Commission des libérations conditionnelles du Canada">Commission
		des libérations conditionnelles du Canada</option>
	<option 
		value="Commission des lieux et monuments historiques du Canada">Commission
		des lieux et monuments historiques du Canada</option>
	<option 
		value="Commission des relations de travail et de l'emploi dans la fonction publique">Commission
		des relations de travail et de l'emploi dans la fonction publique</option>
	<option  value="Commission du droit d'auteur Canada">Commission
		du droit d'auteur Canada</option>
	<option 
		value="Commission indépendante d’examen des acquisitions de la Défense">Commission
		indépendante d’examen des acquisitions de la Défense</option>
	<option  value="Condition féminine Canada">Condition
		féminine Canada</option>
	<option 
		value="Conseil canadien des relations industrielles">Conseil
		canadien des relations industrielles</option>
	<option 
		value="Conseil d'examen du prix des médicaments brevetés Canada">Conseil
		d'examen du prix des médicaments brevetés Canada</option>
	<option 
		value="Conseil de la radiodiffusion et des télécommunications canadiennes">Conseil
		de la radiodiffusion et des télécommunications canadiennes</option>
	<option 
		value="Conseil de recherches en sciences humaines du Canada">Conseil
		de recherches en sciences humaines du Canada</option>
	<option 
		value="Conseil de recherches en sciences naturelles et en génie">Conseil
		de recherches en sciences naturelles et en génie</option>
	<option  value="Conseil des produits agricoles du Canada">Conseil
		des produits agricoles du Canada</option>
	<option  value="Conseil national de recherches Canada">Conseil
		national de recherches Canada</option>
	<option  value="Conseil national des aînés">Conseil
		national des aînés</option>
	<option  value="Corporation commerciale canadienne">Corporation
		commerciale canadienne</option>
	<option  value="Direction générale des biens">Direction
		générale des biens</option>
	<option 
		value="Diversification de l'économie de l'Ouest Canada">Diversification
		de l'économie de l'Ouest Canada</option>
	<option  value="Défense nationale">Défense
		nationale</option>
	<option 
		value="Développement économique Canada pour les régions du Québec">Développement
		économique Canada pour les régions du Québec</option>
	<option  value="Education au Canada">Education au
		Canada</option>
	<option  value="Emploi et développement social Canada">Emploi
		et développement social Canada</option>
	<option 
		value="Environnement et changement climatique Canada">Environnement
		et changement climatique Canada</option>
	<option  value="Espèces sauvages">Espèces
		sauvages</option>
	<option  value="Garde côtière canadienne">Garde
		côtière canadienne</option>
	<option  value="Gendarmerie royale du Canada">Gendarmerie
		royale du Canada</option>
	<option 
		value="Greffe du Tribunal des revendications particulières du Canada">Greffe
		du Tribunal des revendications particulières du Canada</option>
	<option 
		value="Immigration, réfugiés et citoyenneté Canada">Immigration,
		réfugiés et citoyenneté Canada</option>
	<option  value="Infrastructure Canada">Infrastructure
		Canada</option>
	<option 
		value="Initiative de Recherche et développement en génomique">Initiative
		de Recherche et développement en génomique</option>
	<option 
		value="Initiative fédérale de développement économique pour le Nord de l'Ontario">Initiative
		fédérale de développement économique pour le Nord de l'Ontario</option>
	<option 
		value="Innovation, sciences et développement économique Canada">Innovation,
		sciences et développement économique Canada</option>
	<option  value="Institut canadien de conservation">Institut
		canadien de conservation</option>
	<option  value="Institutions démocratiques">Institutions
		démocratiques</option>
	<option  value="Institut océanographique de Bedford">Institut
		océanographique de Bedford</option>
	<option  value="Instituts de recherche en santé du Canada">Instituts
		de recherche en santé du Canada</option>
	<option  value="Jeunesse">Jeunesse</option>
	<option  value="L'Enquêteur correctionnel Canada">L'Enquêteur
		correctionnel Canada</option>
	<option  value="La porte continentale Ontario-Québec">La
		porte continentale Ontario-Québec</option>
	<option 
		value="La Service danadien de renseignements criminels">La
		Service danadien de renseignements criminels</option>
	<option 
		value="Leader du gouvernement à la Chambre des communes">Leader
		du gouvernement à la Chambre des communes</option>
	<option  value="Le cabinet du juge militaire en chef">Le
		cabinet du juge militaire en chef</option>
	<option 
		value="Le Groupe consultatif interagences en éthique de la recherche">Le
		Groupe consultatif interagences en éthique de la recherche</option>
	<option 
		value="Le Groupe consultatif sur la conduite respionsable de la recherche">Le
		Groupe consultatif sur la conduite respionsable de la recherche</option>
	<option 
		value="Le projet des centres d'opérations de sécurité maritimet">Le
		projet des centres d'opérations de sécurité maritimet</option>
	<option  value="Marine royale canadienne">Marine
		royale canadienne</option>
	<option  value="Mesures Canada">Mesures Canada</option>
	<option  value="Ministère de la Justice Canada">Ministère
		de la Justice Canada</option>
	<option  value="Ministère des Finances Canada">Ministère
		des Finances Canada</option>
	<option 
		value="Office de la propriété intellectuelle du Canada">Office
		de la propriété intellectuelle du Canada</option>
	<option  value="Office des technologies industrielles">Office
		des technologies industrielles</option>
	<option  value="Office des transports du Canada">Office
		des transports du Canada</option>
	<option  value="Office national de l'énergie">Office
		national de l'énergie</option>
	<option  value="Office national du film">Office
		national du film</option>
	<option  value="Ombudsman des vétérans">Ombudsman
		des vétérans</option>
	<option  value="Parcs Canada">Parcs Canada</option>
	<option  value="Patrimoine canadien">Patrimoine
		canadien</option>
	<option  value="PPP Canada">PPP Canada</option>
	<option 
		value="Programme canadieen de contrôle de la salubrité des mollusques">Programme
		canadieen de contrôle de la salubrité des mollusques</option>
	<option  value="Programme du travail">Programme
		du travail</option>
	<option  value="Pétrole et gaz des Indiens du Canada">Pétrole
		et gaz des Indiens du Canada</option>
	<option  value="Pêches et Océans Canada">Pêches
		et Océans Canada</option>
	<option 
		value="Recherche et développement pour la Défense Canada">Recherche
		et développement pour la Défense Canada</option>
	<option  value="Ressources naturelles Canada">Ressources
		naturelles Canada</option>
	<option 
		value="Réseau canadien d'information sur le patrimoine">Réseau
		canadien d'information sur le patrimoine</option>
	<option  value="Réseaux de centres d'excellence du Canada">Réseaux
		de centres d'excellence du Canada</option>
	<option 
		value="Révision de la protection de l'environnement Canada">Révision
		de la protection de l'environnement Canada</option>
	<option  value="Saguenay - Lac-Saint-Jean">Saguenay
		- Lac-Saint-Jean</option>
	<option  value="Santé Canada">Santé Canada</option>
	<option  value="Savoir polaire Canada">Savoir
		polaire Canada</option>
	<option 
		value="Secrétariat des conférences intergouvernementales canadiennes">Secrétariat
		des conférences intergouvernementales canadiennes</option>
	<option 
		value="Secrétariat du Conseil du Trésor du Canada">Secrétariat
		du Conseil du Trésor du Canada</option>
	<option  value="Service Canada">Service Canada</option>
	<option 
		value="Service canadien d'appui aux tribunaux administratifs">Service
		canadien d'appui aux tribunaux administratifs</option>
	<option 
		value="Service canadien du renseignement de sécurité">Service
		canadien du renseignement de sécurité</option>
	<option  value="Service correctionnel Canada">Service
		correctionnel Canada</option>
	<option  value="Service des poursuites pénales du Canada">Service
		des poursuites pénales du Canada</option>
	<option  value="Services partagés Canada">Services
		partagés Canada</option>
	<option 
		value="Services publics et Approvisionnement Canada">Services
		publics et Approvisionnement Canada</option>
	<option  value="Statistique Canada">Statistique
		Canada</option>
	<option 
		value="Surveillance environnementale des sables bitumineux Canada-Alberta">Surveillance
		environnementale des sables bitumineux Canada-Alberta</option>
	<option  value="Sécurité publique Canada">Sécurité
		publique Canada</option>
	<option  value="Transports Canada">Transports
		Canada</option>
	<option  value="Tribunal canadien du commerce extérieur">Tribunal
		canadien du commerce extérieur</option>
	<option  value="Tribunal d'appel des transports du Canada">Tribunal
		d'appel des transports du Canada</option>
	<option  value="Tribunal de la concurrence">Tribunal
		de la concurrence</option>
	<option 
		value="Tribunal de la protection des fonctionnaires divulgateurs Canada">Tribunal
		de la protection des fonctionnaires divulgateurs Canada</option>
	<option  value="Tribunal de la sécurité sociale du Canada">Tribunal
		de la sécurité sociale du Canada</option>
	<option 
		value="Tribunal des anciens combattants (révision et appel)">Tribunal
		des anciens combattants (révision et appel)</option>
	<option 
		value="Tribunal de santé et sécurité au travail Canada">Tribunal
		de santé et sécurité au travail Canada</option>
	<option 
		value="Tribunal des droits de la personne du Canada">Tribunal
		des droits de la personne du Canada</option>
	<option  value="École de la fonction publique du Canada">École
		de la fonction publique du Canada</option>
</datalist>
