<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{wide}" lang="en">
<th:block layout:fragment="content">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <style>
        th {
            font-size: 12px;
        }
        
        td {
            font-size: 12px;
        }
        
        .hidden {
            display: none;
        }
        
        .table.dataTable {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 12px;
        }
        
        .dataTables_filter input {
            height: 35px;
            width: 150px;
        }
        
        .dataTables_filter {
            font-size: 15px;
        }
        
        .dataTables_length {
            font-size: 12px;
        }
        
        .dataTables_info {
            font-size: 12px;
        }
        
        .dataTables_paginate {
            font-size: 12px;
        }
        
        .dt-button {
            text-align: center;
            font-size: 12px;
        }
        
        #rangeSelection {
            margin-left: 1rem;
        }
        
        .fa {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

    <div class="container">
        <h1>Outil de rétroaction</h1>
        <details open="true">
            <summary>Filtrer les commentaires</summary>
            <h4 class="wb-inv">Options de filtrage</h4>
            <form class="wb-tables-filter" data-bind-to="problemTable">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="h4">Options de filtre</h4>
                        <p class="mrgn-tp-md">Utilisez ces filtres pour obtenir des commentaires sur les pages</p>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="h4">Feedback admin</h4>
                        <p class="mrgn-tp-md">Utilisez ces filtres pour obtenir une liste des pages utilisant l'outil de feedback</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="Department">Département</label>
                            <select class="form-control" id="Department" name="Department" data-column="5">
                                <!-- DEPARTMENTS -->
                                <option value="">Tous</option>
                                <option value="CCG">GCC/CCG</option>
                                <option value="CRA">ARC/CRA</option>
                                <option value="DFO">MPO/DFO</option>
                                <option value="DND">MND/DND</option>
                                <option value="ECCC">ECCC/ECCC</option>
                                <option value="Employment and Social Development Canada">EDSC/ESDC</option>
                                <option value="FCAC">ACFC/FCAC</option>
                                <option value="FIN">FIN/FIN</option>
                                <option value="Global Affairs Canada">AMC/GAC</option>
                                <option value="Health Canada">SC/HC</option>
                                <option value="IRCC">IRCC/IRCC</option>
                                <option value="ISC">SAC/ISC</option>
                                <option value="ISED">ISDE/ISED</option>
                                <option value="LAC">BAC/LAC</option>
                                <option value="NRC">CNRC/NRC</option>
                                <option value="OMBDNDCAF">OMBMDNFAC/OMBDNDCAF</option>
                                <option value="PS">SP/PS</option>
                                <option value="PSPC">SPAC/PSPC</option>
                                <option value="Public Health Agency of Canada">ASPC/PHAC</option>
                                <option value="SC">SC/SC</option>
                                <option value="SST">TSS/SST</option>
                                <option value="TBS">SCT/TBS</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="section">Section</label>
                            <select class="form-control" id="section" name="section" data-column="6">
                                 <!-- SECTIONS -->
                                <option value="">Tous</option>
                                <option value="Business">Entreprise</option>
                                <option value="Canada's Parliamentary Precinct">Cité parlementaire du Canada</option>
                                <option value="CERB">PCU</option>
                                <option value="CERS">SUCL</option>
                                <option value="CEWS-CRHP">SSUC-PEREC</option>
                                <option value="CEWS">SSUC</option>
                                <option value="CIG">CIG</option>
                                <option value="COVID Alert">Alerte COVID</option>
                                <option value="COVID-19 data trends">tendances des données COVID-19</option>
                                <option value="COVID">COVID</option>
                                <option value="CPP Retirement pension">Pension de retraite du RPC</option>
                                <option value="CRB">PCRE</option>
                                <option value="CRSB">PCMRE</option>
                                <option value="Design system">Système de conception</option>
                                <option value="Disability">Invalidité</option>
                                <option value="ECM">MCE</option>
                                <option value="Education">Éducation</option>
                                <option value="Employment Insurance">Assurance Emploi</option>
                                <option value="Fiona">Fiona</option>
                                <option value="GST/HST">TPS/TVH</option>
                                <option value="Health">Santé</option>
                                <option value="Health data">Données de santé</option>
                                <option value="Help centre">Centre d'aide</option>
                                <option value="ITB">RIT</option>
                                <option value="Mortgages">Hypothèques</option>
                                <option value="MSCA">MSCA</option>
                                <option value="OBJ">OBJ</option>
                                <option value="Old Age Security">Pension de la Sécurité de vieillesse</option>
                                <option value="Passports">Passports</option>
                                <option value="Pay">Payer</option>
                                <option value="PIT">IRP</option>
                                <option value="PTR">DFP</option>
                                <option value="Retirement planning">Planification de la retraite</option>
                                <option value="Sign in">S'identifier</option>
                                <option value="Skills for Success">les compétences pour réussir</option>
                                <option value="Social Development Partnerships Program">Programmes de partenariat pour le développement social</option>
                                <option value="travel-wizard">Assistant de voyage</option>
                                <option value="Ukraine">Ukraine</option>
                                <option value="Vaccines">Vaccins</option>
                                <option value="WFHE">FTD</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="dt_theme">Thème</label>
                            <select class="form-control" id="dt_theme" name="dt_theme" data-column="8">
                                <!-- THEMES -->
                                <option value="">Tous</option>
                                <option value="Application status">Statut des applications</option>
                                <option value="Benefits">Prestations</option>
                                <option value="Business">Entreprise</option>
                                <option value="Canada and the world">Le Canada et le monde</option>
                                <option value="COVID">COVID</option>
                                <option value="Culture, history and sport">Culture, histoire et sport</option>
                                <option value="Défense">Défense</option>
                                <option value="Education/Research">Éducation/Recherche</option>
                                <option value="Employment Insurance">Assurance Emploi</option>
                                <option value="Environment and natural resources">Environnement et Ressources Naturelles</option>
                                <option value="Funding">Financement</option>
                                <option value="Health">Santé</option>
                                <option value="Jobs">Emplois</option>
                                <option value="Money and finances">Argent et finances</option>
                                <option value="Policies">Politiques</option>
                                <option value="Policing, justice and emergencies">Police, justice et urgences</option>
                                <option value="Public Service">Service Public</option>
                                <option value="Science and innovation">Science et Innovation</option>
                                <option value="Taxes">Impôt</option>
                                <option value="Top tasks">Tâches principales</option>
                                <option value="Travel">Voyage</option>
                                <option value="Youth">Jeunesse</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="min">Dates <span class="wb-inv">Date de début</span></label>
                            <div class="form-inline">
                                <div class="form-group">
                                    <input type="date" placeholder="aaaa-mm-jj" class="form-control" id="min" name="min">
                                </div>
                                <label for="max">à <span class="wb-inv">date de fin</span></label>
                                <div class="form-group">
                                    <input type="date" placeholder="aaaa-mm-jj" class="form-control" id="max" name="max">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-inline">
                                <label for="rangeSelection">ou choisir
                            <span class="wb-inv">Date de début</span></label>
                                <select class="form-control" id="rangeSelection" name="rangeSelection">
                                    <option value="">Durée</option>
                                    <option value="today">Aujourd'hui</option>
                                    <option value="yesterday">Hier</option>
                                    <option value="seven">7 derniers jours</option>
                                    <option value="fifteen">15 derniers jours</option>
                                    <option value="thirty">30 derniers jours</option>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="deptINV">Département</label>
                            <select class="form-control" id="deptINV" name="deptINV" data-column="5">
                                <!-- DEPARTMENTS -->
                                <option value="">Tous</option>
                                <option value="CCG">GCC/CCG</option>
                                <option value="CRA">ARC/CRA</option>
                                <option value="DFO">MPO/DFO</option>
                                <option value="DND">MND/DND</option>
                                <option value="ECCC">ECCC/ECCC</option>
                                <option value="Employment and Social Development Canada">EDSC/ESDC</option>
                                <option value="FCAC">ACFC/FCAC</option>
                                <option value="FIN">FIN/FIN</option>
                                <option value="Global Affairs Canada">AMC/GAC</option>
                                <option value="Health Canada">SC/HC</option>
                                <option value="IRCC">IRCC/IRCC</option>
                                <option value="ISC">SAC/ISC</option>
                                <option value="ISED">ISDE/ISED</option>
                                <option value="LAC">BAC/LAC</option>
                                <option value="NRC">CNRC/NRC</option>
                                <option value="OMBDNDCAF">OMBMDNFAC/OMBDNDCAF</option>
                                <option value="PS">SP/PS</option>
                                <option value="PSPC">SPAC/PSPC</option>
                                <option value="Public Health Agency of Canada">ASPC/PHAC</option>
                                <option value="SC">SC/SC</option>
                                <option value="SST">TSS/SST</option>
                                <option value="TBS">SCT/TBS</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="sectionINV">Section</label>
                            <select class="form-control" id="sectionINV" name="sectionINV" data-column="6">
                                 <!-- SECTIONS -->
                                <option value="">Tous</option>
                                <option value="Business">Entreprise</option>
                                <option value="Canada's Parliamentary Precinct">Cité parlementaire du Canada</option>
                                <option value="CERB">PCU</option>
                                <option value="CERS">SUCL</option>
                                <option value="CEWS-CRHP">SSUC-PEREC</option>
                                <option value="CEWS">SSUC</option>
                                <option value="CIG">CIG</option>
                                <option value="COVID Alert">Alerte COVID</option>
                                <option value="COVID-19 data trends">tendances des données COVID-19</option>
                                <option value="COVID">COVID</option>
                                <option value="CPP Retirement pension">Pension de retraite du RPC</option>
                                <option value="CRB">PCRE</option>
                                <option value="CRSB">PCMRE</option>
                                <option value="Design system">Système de conception</option>
                                <option value="Disability">Invalidité</option>
                                <option value="ECM">MCE</option>
                                <option value="Education">Éducation</option>
                                <option value="Employment Insurance">Assurance Emploi</option>
                                <option value="Fiona">Fiona</option>
                                <option value="GST/HST">TPS/TVH</option>
                                <option value="Health">Santé</option>
                                <option value="Health data">Données de santé</option>
                                <option value="Help centre">Centre d'aide</option>
                                <option value="ITB">RIT</option>
                                <option value="Mortgages">Hypothèques</option>
                                <option value="MSCA">MSCA</option>
                                <option value="OBJ">OBJ</option>
                                <option value="Old Age Security">Pension de la Sécurité de vieillesse</option>
                                <option value="Passports">Passports</option>
                                <option value="Pay">Payer</option>
                                <option value="PIT">IRP</option>
                                <option value="PTR">DFP</option>
                                <option value="Retirement planning">Planification de la retraite</option>
                                <option value="Sign in">S'identifier</option>
                                <option value="Skills for Success">les compétences pour réussir</option>
                                <option value="Social Development Partnerships Program">Programmes de partenariat pour le développement social</option>
                                <option value="travel-wizard">Assistant de voyage</option>
                                <option value="Ukraine">Ukraine</option>
                                <option value="Vaccines">Vaccins</option>
                                <option value="WFHE">FTD</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="themeINV">Thème</label>
                            <select class="form-control" id="themeINV" name="themeINV" data-column="8">
                                <!-- THEMES -->
                                <option value="">Tous</option>
                                <option value="Application status">Statut des applications</option>
                                <option value="Benefits">Prestations</option>
                                <option value="Business">Entreprise</option>
                                <option value="Canada and the world">Le Canada et le monde</option>
                                <option value="COVID">COVID</option>
                                <option value="Culture, history and sport">Culture, histoire et sport</option>
                                <option value="Défense">Défense</option>
                                <option value="Education/Research">Éducation/Recherche</option>
                                <option value="Employment Insurance">Assurance Emploi</option>
                                <option value="Environment and natural resources">Environnement et Ressources Naturelles</option>
                                <option value="Funding">Financement</option>
                                <option value="Health">Santé</option>
                                <option value="Jobs">Emplois</option>
                                <option value="Money and finances">Argent et finances</option>
                                <option value="Policies">Politiques</option>
                                <option value="Policing, justice and emergencies">Police, justice et urgences</option>
                                <option value="Public Service">Service Public</option>
                                <option value="Science and innovation">Science et Innovation</option>
                                <option value="Taxes">Impôt</option>
                                <option value="Top tasks">Tâches principales</option>
                                <option value="Travel">Voyage</option>
                                <option value="Youth">Jeunesse</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="mrgn-lft-sm row">
                    <!-- <button type="submit" class="btn btn-primary" aria-controls="problemTable">Filter</button> -->
                    <button type="reset" class="btn btn-primary" id="clear-text">Réinitialiser</button>
                </div>
                <br>
            </form>
        </details>
    </div>

    <div class="col-md-12">
        <div class="table-responsive">
            <table id="problemTable" class="small table hover display compact">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Horodatage</th>
                        <th>Commentaire</th>
                        <th>Problème</th>
                        <th>URL</th>
                        <th>Titre de la page</th>
                        <th>Langue</th>
                        <th>Institution</th>
                        <th>Section</th>
                        <th>Thème</th>
                        <th>Total des commentaires</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</th:block>
<th:block layout:fragment="script">
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.2/js/dataTables.colReorder.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/busy-load@0.1.2/src/index.min.js"></script>
    <script type="text/javascript" src="js/spring-friendly.min.js"></script>


    <script th:inline="javascript">
        $(document).ready(function() {

            function newexportaction(e, dt, button, config) {
                var self = this;
                var oldStart = dt
                    .settings()[0]
                    ._iDisplayStart;
                dt.one('preXhr', function(e, s, data) {
                    // Just this once, load all data from the server...
                    data.start = 0;
                    data.length = 2147483647;
                    dt.one('preDraw', function(e, settings) {
                        // Call the original action function
                        if (button[0].className.indexOf('buttons-copy') >= 0) {
                            $
                                .fn
                                .dataTable
                                .ext
                                .buttons
                                .copyHtml5
                                .action
                                .call(self, e, dt, button, config);
                        } else if (button[0].className.indexOf('buttons-excel') >= 0) {
                            $
                                .fn
                                .dataTable
                                .ext
                                .buttons
                                .excelHtml5
                                .available(dt, config) ?
                                $
                                .fn
                                .dataTable
                                .ext
                                .buttons
                                .excelHtml5
                                .action
                                .call(self, e, dt, button, config) :
                                $
                                .fn
                                .dataTable
                                .ext
                                .buttons
                                .excelFlash
                                .action
                                .call(self, e, dt, button, config);
                        } else if (button[0].className.indexOf('buttons-csv') >= 0) {
                            $
                                .fn
                                .dataTable
                                .ext
                                .buttons
                                .csvHtml5
                                .available(dt, config) ?
                                $
                                .fn
                                .dataTable
                                .ext
                                .buttons
                                .csvHtml5
                                .action
                                .call(self, e, dt, button, config) :
                                $
                                .fn
                                .dataTable
                                .ext
                                .buttons
                                .csvFlash
                                .action
                                .call(self, e, dt, button, config);
                        } else if (button[0].className.indexOf('buttons-pdf') >= 0) {
                            $
                                .fn
                                .dataTable
                                .ext
                                .buttons
                                .pdfHtml5
                                .available(dt, config) ?
                                $
                                .fn
                                .dataTable
                                .ext
                                .buttons
                                .pdfHtml5
                                .action
                                .call(self, e, dt, button, config) :
                                $
                                .fn
                                .dataTable
                                .ext
                                .buttons
                                .pdfFlash
                                .action
                                .call(self, e, dt, button, config);
                        } else if (button[0].className.indexOf('buttons-print') >= 0) {
                            $
                                .fn
                                .dataTable
                                .ext
                                .buttons
                                .print
                                .action(e, dt, button, config);
                        }
                        dt.one('preXhr', function(e, s, data) {
                            // DataTables thinks the first item displayed is index 0, but we're not drawing that.
                            // Set the property to what it was before exporting.
                            settings._iDisplayStart = oldStart;
                            data.start = oldStart;
                        });
                        // Reload the grid with the original page. Otherwise, API functions like table.cell(this) don't work properly.
                        setTimeout(dt.ajax.reload, 0);
                        // Prevent rendering of the full data to the DOM
                        return false;
                    });
                });
                // Requery the server with the new one-time export settings
                dt
                    .ajax
                    .reload();
            };
            var today = new Date();
            var dd = String(today.getDate()).padStart(2, '0');
            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            var yyyy = today.getFullYear();

            today = yyyy + '-' + mm + '-' + dd;

            $('#problemTable')
                .find('thead th')
                .append('<span class="sorting-cnt"><span class="sorting-icons"></span></span>')

            var table = $('table#problemTable').DataTable({
                "order": [
                    [0, "desc"]
                ],
                processing: true,
                language: {
                    "processing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Traitement...</span> ',
                    "emptyTable": "Aucune donnée disponible dans le tableau",
                    "loadingRecords": "Chargement...",
                    "aria": {
                        "sortAscending": ": activer pour trier la colonne par ordre croissant",
                        "sortDescending": ": activer pour trier la colonne par ordre décroissant"
                    },

                    "buttons": {
                        "collection": "Collection",
                        "copy": "Copier",
                        "copyTitle": "Copier dans le presse-papier",
                        "csv": "CSV",
                        "excel": "Excel",
                        "pageLength": {
                            "-1": "Afficher toutes les lignes",
                            "_": "Afficher %d lignes"
                        },
                        "pdf": "PDF",
                        "print": "Imprimer",
                        "copyKeys": "Appuyez sur ctrl ou u2318 + C pour copier les données du tableau dans votre presse-papier."
                    },
                    "decimal": ",",
                    "search": "Rechercher:",
                    "thousands": ".",
                    "datetime": {
                        "previous": "Précédent",
                        "next": "Suivant",
                        "hours": "Heures",
                        "minutes": "Minutes",
                        "seconds": "Secondes",
                        "unknown": "-",
                        "amPm": [
                            "am",
                            "pm"
                        ],
                        "months": {
                            "0": "Janvier",
                            "2": "Mars",
                            "3": "Avril",
                            "4": "Mai",
                            "5": "Juin",
                            "6": "Juillet",
                            "8": "Septembre",
                            "9": "Octobre",
                            "10": "Novembre",
                            "1": "Février",
                            "11": "Décembre",
                            "7": "Août"
                        },
                        "weekdays": [
                            "Dim",
                            "Lun",
                            "Mar",
                            "Mer",
                            "Jeu",
                            "Ven",
                            "Sam"
                        ]
                    },
                    "info": "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
                    "infoEmpty": "Affichage de 0 à 0 sur 0 entrées",
                    "infoFiltered": "(filtrées depuis un total de _MAX_ entrées, 2022-07-02 à " + today + ")",

                    "lengthMenu": "Afficher _MENU_ entrées",
                    "paginate": {
                        "first": "Première",
                        "last": "Dernière",
                        "next": "Suivante",
                        "previous": "Précédente"
                    },
                    "zeroRecords": "Aucune entrée correspondante trouvée",
                },

                lengthMenu: false,
                "drawCallback": function(settings) {
                    fetchTotalCommentsCount();
                },
                retrieve: true,
                ajax: '/problemData',
                serverSide: true,
                columns: [{
                    data: 'problemDate',
                    "width": "10%"
                }, {
                    data: 'timeStamp'
                }, {
                    data: 'problemDetails',
                    "width": "30%"
                }, {
                    data: 'problem',
                    "width": "20%"
                }, {
                    data: 'url',
                    "width": "30%"
                }, {
                    data: 'title',
                    "width": "50%"
                }, {
                    data: 'language',
                    "width": "10%"
                }, {
                    data: 'institution',
                    visible: false
                }, {
                    data: 'section',
                    visible: false
                }, {
                    data: 'theme',
                    visible: false
                }, {
                    data: 'urlEntries',
                    "width": "10%"
                }],

                orderCellsTop: true,
                fixedHeader: true,
                dom: 'fBr<"table-responsive"t>tip',
                buttons: [{
                    "extend": 'csv',
                    "text": 'Télécharger CSV',
                    className: 'btn btn-default',
                    "action": newexportaction
                }, {
                    "extend": 'excel',
                    "text": "Télécharger Excel",
                    className: 'btn btn-default',
                    "action": newexportaction
                }]
            });

            const COLUMNS = ["Date", "TimeStamp", "Comment", "Problem",
                "Url", "Title", "Lang", "UrlEntries", "Section", "Theme", "Dept"
            ]

            const DateColIndex = 0;
            const TimestampColIndex = 1;
            const CommentColIndex = 2;
            const ProblemColIndex = 3;
            const UrlColIndex = 4;
            const TitleColIndex = 5;
            const LangColIndex = 6;
            const DeptColIndex = 7;
            const SectionColIndex = 8;
            const ThemeColIndex = 9;
            const urlEntriesColIndex = 10;

            function replaceSpecialChars(string) {
                var string = string.replace(/[.?]/g, '\\$&');
                return string;
            }

            function fetchTotalCommentsCount() {
                fetch('/pageFeedback/totalCommentsCount')
                    .then(function(response) {
                        // The API call was successful!
                        return response.text();
                    })
                    .then(function(totalCommentsCount) {
                        // This is the HTML from our response as a text string
                        $('#total_comments').text(String(totalCommentsCount));
                    })
                    .catch(function(err) {
                        // There was an error
                        console.warn('Something went wrong.', err);
                    });
            }

            $('#problemTable thead tr')
                .clone(false)
                .appendTo('#problemTable thead');
            $('#problemTable thead tr:eq(1) th').each(function(i) {
                var title = $(this).text();
                $(this).html('<input type="text" id="searchBox' + COLUMNS[i] + '" placeholder="Recherche ' + title + '" />');

                $('input', this)
                    .unbind()
                    .bind('keyup change', function(e) {
                        if (e.keyCode == 13 || this.value == "") {
                            table
                                .column(i)
                                .search(replaceSpecialChars(this.value))
                                .draw();
                        }
                    });
            });
            $('#problemTable thead tr:eq(1) th:eq(' + urlEntriesColIndex + ')').attr('id', 'total_comments');



            table.column(urlEntriesColIndex).visible(false);
            table.column(TimestampColIndex).visible(false);
            table.column(TitleColIndex).visible(false);

            $('#searchBoxTimeStamp').closest('th').hide();
            $('#searchBoxUrlEntries').closest('th').hide();
            $('#searchBoxTitle').closest('th').hide();

            var minMaxDateChosen = false;





            function clearText() {
                $("#searchBoxDate").val("");
                $("#searchBoxTimeStamp").val("");
                $("#searchBoxComment").val("");
                $("#searchBoxProblem").val("");
                $("#searchBoxURL").val("");
                $("#searchBoxUrlEntries").val("");
                $("#searchBoxTitle").val("");
                $("#searchBoxLang").val("");

                $('#searchBoxDate').closest('th').show()
                $('#searchBoxComment').closest('th').show()
                $('#searchBoxProblem').closest('th').show()

                $('#searchBoxUrlEntries').closest('th').hide()
                $('#searchBoxTimeStamp').closest('th').hide()
                $('#searchBoxTitle').closest('th').hide()

                $('#total_comments').closest('th').hide()
                $('#total_comments').hide()

                $(".sorting-cnt").removeClass("hidden");
                table
                    .column(UrlColIndex).search("")
                    .column(LangColIndex).search("")
                    .column(DeptColIndex).search("")
                    .column(SectionColIndex).search("")
                    .column(ThemeColIndex).search("")
                    .column(CommentColIndex).search("").visible(true)
                    .column(ProblemColIndex).search("").visible(true)
                    .column(DateColIndex).search("").visible(true)
                    .column(urlEntriesColIndex).search("").visible(false)
                    .column(TimestampColIndex).search("").visible(false)
                    .column(TitleColIndex).search("").visible(false)
                    .page.len(10)
                    .draw()
            }

            $("#clear-text").click(clearText);



            $('#rangeSelection', this).on('keyup change', function() {
                clearText();
                if (this.value == "") {
                    rangeChosen = false;
                    table
                        .column(DateColIndex)
                        .search("")
                        .draw()
                }
                if (this.value != "") {
                    rangeChosen = true;
                    console.log(this.value + " gmug8w7erhg87whrf78w")
                    table
                        .column(DateColIndex)
                        .search(this.value)
                        .page.len(10)
                        .draw()
                    $('#themeINV').val("");
                    $('#sectionINV').val("");
                    $('#deptINV').val("");
                }
                if ($('#Department').val() && rangeChosen) {
                    table
                        .column(ThemeColIndex)
                        .search($('#dt_theme').val())
                        .draw();
                }
                if ($('#Department').val() && rangeChosen) {
                    table
                        .column(DeptColIndex)
                        .search($('#Department').val())
                        .draw();
                }
                if ($('#section').val() && rangeChosen) {
                    table
                        .column(SectionColIndex)
                        .search($('#section').val())
                        .draw()
                }
            })

            $('#min', this).on('keyup change', function() {
                clearText();
                minMaxDateChosen = false;
                if (this.value != "" && $('#max').val() != "") {
                    minMaxDateChosen = true;
                    table
                        .column(DateColIndex)
                        .search(this.value + ":" + $('#max').val())
                        .page.len(10)
                        .draw();
                    $('#themeINV').val("");
                    $('#sectionINV').val("");
                    $('#deptINV').val("");
                }
                if ($('#dt_theme').val() != "" && minMaxDateChosen) {
                    table
                        .column(ThemeColIndex)
                        .search($('#dt_theme').val())
                        .draw()
                }
                if ($('#Department').val() != "" && minMaxDateChosen) {
                    table
                        .column(DeptColIndex)
                        .search($('#Department').val())
                        .draw()
                }
                if ($('#section').val() != "" && minMaxDateChosen) {
                    table
                        .column(SectionColIndex)
                        .search($('#section').val())
                        .draw()
                }
            });

            $('#max', this).on('keyup change', function() {
                clearText();
                minMaxDateChosen = false;
                if (this.value != "" && $('#min').val() != "") {
                    minMaxDateChosen = true;
                    table
                        .column(DateColIndex)
                        .search($('#min').val() + ":" + this.value)
                        .page.len(10)
                        .draw();
                    $('#themeINV').val("");
                    $('#sectionINV').val("");
                    $('#deptINV').val("");
                }
                if ($('#dt_theme').val() != "" && minMaxDateChosen) {
                    table
                        .column(ThemeColIndex)
                        .search($('#dt_theme').val())
                        .draw()
                }
                if ($('#Department').val() != "" && minMaxDateChosen) {
                    table
                        .column(DeptColIndex)
                        .search($('#Department').val())
                        .draw()
                }
                if ($('#section').val() != "" && minMaxDateChosen) {
                    table
                        .column(SectionColIndex)
                        .search($('#section').val())
                        .draw()
                }
            });

            $('#dt_theme', this).on('keyup change', function() {
                clearText();
                if (this.value == "") {
                    table
                        .column(ThemeColIndex)
                        .search("")
                        .draw()
                }
                if (this.value != "") {
                    table
                        .column(ThemeColIndex)
                        .search(this.value)
                        .page.len(10)
                        .draw()
                    $('#themeINV').val("");
                    $('#sectionINV').val("");
                    $('#deptINV').val("");
                }
                if (minMaxDateChosen) {
                    table
                        .column(DateColIndex)
                        .search($('#min').val() + ":" + $('#max').val())
                        .draw();
                }
                if ($('#Department').val()) {
                    table
                        .column(DeptColIndex) //change these to const values
                        .search($('#Department').val())
                        .draw()
                }
                if ($('#section').val()) {
                    table
                        .column(SectionColIndex)
                        .search($('#section').val())
                        .draw()
                }
            });

            $('#Department', this).on('keyup change', function() {
                clearText();
                if (this.value == "") {
                    deptChosen = false;
                    table
                        .column(DeptColIndex)
                        .search("")
                        .draw()
                }
                if (this.value != "") {
                    deptChosen = true;
                    table
                        .column(DeptColIndex)
                        .search(this.value)
                        .page.len(10)
                        .draw()
                    $('#themeINV').val("");
                    $('#sectionINV').val("");
                    $('#deptINV').val("");
                }
                if (minMaxDateChosen) {
                    table
                        .column(DateColIndex)
                        .search($('#min').val() + ":" + $('#max').val())
                        .draw();
                }
                if ($('#dt_theme').val() != "") {
                    table
                        .column(ThemeColIndex)
                        .search($('#dt_theme').val())
                        .draw()
                }
                if ($('#section').val() != "") {
                    table
                        .column(SectionColIndex)
                        .search($('#section').val())
                        .draw()
                }
            });

            $('#section', this).on('keyup change', function() {
                clearText();
                if (this.value == "") {
                    sectionChosen = false;
                    table
                        .column(SectionColIndex)
                        .search("")
                        .draw()
                }
                if (this.value != "") {
                    sectionChosen = true;
                    table
                        .column(SectionColIndex)
                        .search(this.value)
                        .page.len(10)
                        .draw()
                    $('#themeINV').val("");
                    $('#sectionINV').val("");
                    $('#deptINV').val("");
                }
                if (minMaxDateChosen) {
                    table
                        .column(DateColIndex)
                        .search($('#min').val() + ":" + $('#max').val())
                        .draw();
                }
                if ($('#Department').val() != "") {
                    table
                        .column(DeptColIndex) //change these to const values
                        .search($('#Department').val())
                        .draw()
                }
                if ($('#dt_theme').val() != "") {
                    table
                        .column(ThemeColIndex)
                        .search($('#dt_theme').val())
                        .draw()
                }
            });

            $('#deptINV', this).on('keyup change', function() {
                if (this.value == "") {
                    if ($('#sectionINV').val() != "" || $('#themeINV').val() != "") {
                        table
                            .column(DeptColIndex)
                            .search("")
                            .draw()
                    }
                }
                if (this.value != "") {
                    table
                        .column(DeptColIndex)
                        .search(this.value + " ~")
                        .column(ThemeColIndex)
                        .search($('#themeINV').val() + " ~")
                        .column(SectionColIndex)
                        .search($('#sectionINV').val() + " ~")
                        .column(CommentColIndex)
                        .visible(false)
                        .column(ProblemColIndex)
                        .visible(false)
                        .column(DateColIndex)
                        .visible(false)
                        .column(urlEntriesColIndex)
                        .visible(true)
                        .column(TitleColIndex)
                        .visible(true)
                        .page
                        .len(-1)
                        .draw()
                    $('#Department').val("");
                    $('#dt_theme').val("");
                    $('#section').val("");
                    $('#min').val("");
                    $('#max').val("");
                    $('#rangeSelection').val("");
                    $('#searchBoxDate').closest('th').hide()
                    $('#searchBoxTimeStamp').closest('th').hide()
                    $('#searchBoxComment').closest('th').hide()
                    $('#searchBoxProblem').closest('th').hide()
                    $('#searchBoxUrlEntries').closest('th').show()
                    $('#searchBoxTitle').closest('th').show()

                    $('#total_comments').show()

                    $(".sorting-cnt").addClass("hidden");

                }
                if ($('#sectionINV').val() != "") {
                    table
                        .column(SectionColIndex) //change these to const values
                        .search($('#sectionINV').val() + " ~")
                        .draw()
                }
                if ($('#themeINV').val() != "") {
                    table
                        .column(ThemeColIndex) //change these to const values
                        .search($('#themeINV').val() + " ~")
                        .draw()
                }
            });
            $('#sectionINV', this).on('keyup change', function() {
                if (this.value == "") {
                    table
                        .column(SectionColIndex)
                        .search("")
                        .draw()
                }
                if (this.value != "") {
                    table
                        .column(SectionColIndex)
                        .search(this.value + " ~")
                        .column(ThemeColIndex)
                        .search($('#themeINV').val() + " ~")
                        .column(deptINV)
                        .search($('#deptINV').val() + " ~")
                        .column(CommentColIndex)
                        .visible(false)
                        .column(ProblemColIndex)
                        .visible(false)
                        .column(DateColIndex)
                        .visible(false)
                        .column(urlEntriesColIndex)
                        .visible(true)
                        .column(TitleColIndex)
                        .visible(true)
                        .page
                        .len(-1)
                        .draw()

                    $('#Department').val("");
                    $('#dt_theme').val("");
                    $('#section').val("");
                    $('#min').val("");
                    $('#max').val("");
                    $('#rangeSelection').val("");
                    $('#searchBoxDate').closest('th').hide()
                    $('#searchBoxTimeStamp').closest('th').hide()
                    $('#searchBoxComment').closest('th').hide()
                    $('#searchBoxProblem').closest('th').hide()
                    $('#searchBoxUrlEntries').closest('th').show()
                    $('#searchBoxTitle').closest('th').show()

                    $('#total_comments').show()

                    $(".sorting-cnt").addClass("hidden");
                }
                if ($('#deptINV').val() != "") {
                    table
                        .column(DeptColIndex) //change these to const values
                        .search($('#deptINV').val() + " ~")
                        .draw()
                }
                if ($('#themeINV').val() != "") {
                    table
                        .column(ThemeColIndex) //change these to const values
                        .search($('#themeINV').val() + " ~")
                        .draw()
                }
            });
            $('#themeINV', this).on('keyup change', function() {
                if (this.value == "") {
                    table
                        .column(ThemeColIndex)
                        .search("")
                        .draw()
                }
                if (this.value != "") {
                    table
                        .column(ThemeColIndex)
                        .search(this.value + " ~")
                        .column(SectionColIndex)
                        .search($('#sectionINV').val() + " ~")
                        .column(deptINV)
                        .search($('#deptINV').val() + " ~")
                        .column(CommentColIndex)
                        .visible(false)
                        .column(ProblemColIndex)
                        .visible(false)
                        .column(DateColIndex)
                        .visible(false)
                        .column(urlEntriesColIndex)
                        .visible(true)
                        .column(TitleColIndex)
                        .visible(true)
                        .page
                        .len(-1)
                        .draw()

                    $('#Department').val("");
                    $('#dt_theme').val("");
                    $('#section').val("");
                    $('#min').val("");
                    $('#max').val("");
                    $('#rangeSelection').val("");
                    $('#searchBoxDate').closest('th').hide()
                    $('#searchBoxTimeStamp').closest('th').hide()
                    $('#searchBoxComment').closest('th').hide()
                    $('#searchBoxProblem').closest('th').hide()
                    $('#searchBoxUrlEntries').closest('th').show()
                    $('#searchBoxTitle').closest('th').show()

                    $('#total_comments').show()

                    $(".sorting-cnt").addClass("hidden");
                }
                if ($('#deptINV').val() != "") {
                    table
                        .column(DeptColIndex)
                        .search($('#deptINV').val() + " ~")
                        .draw()
                }
                if ($('#sectionINV').val() != "") {
                    table
                        .column(SectionColIndex)
                        .search($('#sectionINV').val() + " ~")
                        .draw()
                }
            });


        });
    </script>

</th:block>

</html>