<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{wide_en}" lang="en">

<head>
    <script src="https://unpkg.com/slim-select@latest/dist/slimselect.min.js"></script>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
        type="text/css" />
    <link
        href="https://cdn.datatables.net/v/dt/jq-3.7.0/jszip-3.10.1/dt-1.13.10/b-2.4.2/b-html5-2.4.2/cr-1.7.0/fh-3.4.0/r-2.5.0/datatables.min.css"
        rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="/css/pageFeedback_styles.css" />
</head>


<body>
    <th:block layout:fragment="content">
        <main>
            <h2>Page Feedback Tool</h2>
            <form class="feedback-tool">
                <div class="feedback-tool-header">
                    <div class="reset-filters" onclick="resetFilters()">Reset Filters</div>
                </div>
                <h3>Filter by:</h3>
                <div class="form-group">
                    <label for="department">Department(s)</label>
                    <select class="form-control" id="department" name="department">
                        <option value>All</option>
                        <option value="CCG">CCG/GCC</option>
                        <option value="CFIA">CFIA/ACIA</option>
                        <option value="CIRNAC">CIRNAC/RCAANC</option>
                        <option value="CRA">CRA/ARC</option>
                        <option value="CSE">CSE/CST</option>
                        <option value="DFO">DFO/MPO</option>
                        <option value="DND">DND/MND</option>
                        <option value="ECCC">ECCC/ECCC</option>
                        <option value="ESDC">ESDC/EDSC</option>
                        <option value="FCAC">FCAC/ACFC</option>
                        <option value="FIN">FIN/FIN</option>
                        <option value="GAC">GAC/AMC</option>
                        <option value="HC">HC/SC</option>
                        <option value="IRCC">IRCC/IRCC</option>
                        <option value="ISC">ISC/SAC</option>
                        <option value="ISED">ISED/ISDE</option>
                        <option value="LAC">LAC/BAC</option>
                        <option value="NRC">NRC/CNRC</option>
                        <option value="OMBDNDCAF">OMBDNDCAF/OMBMDNFAC</option>
                        <option value="PS">PS/SP</option>
                        <option value="PSPC">PSPC/SPAC</option>
                        <option value="PHAC">PHAC/ASPC</option>
                        <option value="SC">SC/SC</option>
                        <option value="SST">SST/TSS</option>
                        <option value="TBS">TBS/SCT</option>
                    </select>
                </div>
                <label for="dateRange">Date Range
                    <input type="text" id="dateRangePicker" name="dateRangePicker" readonly="readonly"
                        style="background-color: white; cursor: pointer;" />
                </label>
                <div class="form-group">
                    <label for="language">Language(s)</label>
                    <select class="form-control" id="language" name="language">
                        <option value>All</option>
                        <option value="en">English</option>
                        <option value="fr">French</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="url">URL</label>
                    <input type="text" id="url" name="url" placeholder="Filter by keyword">
                </div>
                <label for="pages">Page(s)
                    <select id="pages" multiple>
                    </select>
                </label>
                <div class="form-group">
                    <label for="comments">Comment(s)</label>
                    <input type="text" id="comments" name="comments" placeholder="Filter by keyword">
                </div>
                <details open>
                    <summary>More filters</summary>
                    <p>
                        <label for="section">Section
                            <select id="section">
                                <option value="all">All</option>
                                <!-- Additional options -->
                            </select>
                        </label>
                        <span class="spacer">OR</span>
                        <label for="theme">Theme
                            <select id="theme">
                                <option value="all">All</option>
                                <!-- Additional options -->
                            </select>
                        </label>
                    </p>
                </details>
                <p class="download-section">
                    <button id="downloadCSV">Download CSV</button>
                    <button id="downloadExcel">Download Excel</button>
                </p>
            </form>
        </main>
        <div class="feedback-tool-data">
            <table id="myTable" class="display">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Comments</th>
                        <th>Dept</th>
                        <th>Page title</th>
                        <th>URL</th>
                        <th>Time stamp</th>
                        <th>Language</th>
                        <th>Section</th>
                        <th>Theme</th>
                        <th>Device type</th>
                        <th>Browser</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </th:block>
    <th:block layout:fragment="script">
        <script
            src="https://cdn.datatables.net/v/dt/jq-3.7.0/jszip-3.10.1/dt-1.13.10/b-2.4.2/b-html5-2.4.2/cr-1.7.0/fh-3.4.0/r-2.5.0/datatables.min.js"></script>
        <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <script type="text/javascript" src="js/spring-friendly.min.js"></script>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var earliestDate = /*[[${earliestDate}]]*/ '';
            var latestDate = /*[[${latestDate}]]*/ '';
            /*]]>*/
        </script>
        <script src="/js/pageFeedback.js"></script>
    </th:block>
</body>

</html>