<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{wide_en}" lang="en">

<head>
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    type="text/css" />
  <link
    href="https://cdn.datatables.net/v/dt/jq-3.7.0/jszip-3.10.1/dt-2.3.2/b-3.2.0/b-html5-3.2.0/cr-2.0.4/fh-4.0.1/r-3.0.3/datatables.min.css"
    rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" type="text/css" href="/css/pageFeedback_styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/loading-overlay.css" />
</head>

<body>
  <th:block layout:fragment="content">
    <main class="container">
      <div class="col-lg-12">
        <div class="row">
          <h1 id="wb-cont">GC Feedback</h1>

          <!-- Filter Panel -->
          <div class="pf-filter-panel">
            <div class="pf-filter-grid">
              <!-- Row 1: Department, Language, Date Range -->
              <div class="pf-filter-row">
                <div class="pf-filter-field">
                  <label for="department">Department</label>
                  <select class="form-control" id="department" name="department">
                    <option value>All</option>
                    <option value="AAFC">AAFC</option>
                    <option value="CBSA">CBSA</option>
                    <option value="CCG">CCG</option>
                    <option value="CER">CER</option>
                    <option value="CFIA">CFIA</option>
                    <option value="CIRNAC">CIRNAC</option>
                    <option value="CRA">CRA</option>
                    <option value="CSC">CSC</option>
                    <option value="CSE">CSE</option>
                    <option value="DFO">DFO</option>
                    <option value="DND">DND</option>
                    <option value="ECCC">ECCC</option>
                    <option value="ESDC">ESDC</option>
                    <option value="FCAC">FCAC</option>
                    <option value="FIN">FIN</option>
                    <option value="GAC">GAC</option>
                    <option value="HC">HC</option>
                    <option value="HICC">HICC</option>
                    <option value="IRCC">IRCC</option>
                    <option value="ISC">ISC</option>
                    <option value="ISED">ISED</option>
                    <option value="LAC">LAC</option>
                    <option value="NRC">NRC</option>
                    <option value="NRCAN">NRCAN</option>
                    <option value="NSERC">NSERC</option>
                    <option value="OMBDNDCAF">OMBDNDCAF</option>
                    <option value="PS">PS</option>
                    <option value="PSPC">PSPC</option>
                    <option value="PHAC">PHAC</option>
                    <option value="SC">SC</option>
                    <option value="SSHRC">SSHRC</option>
                    <option value="SST">SST</option>
                    <option value="TBS">TBS</option>
                  </select>
                </div>
                <div class="pf-filter-field">
                  <label for="language">Language</label>
                  <select class="form-control" id="language" name="language">
                    <option value>All</option>
                    <option value="en">EN</option>
                    <option value="fr">FR</option>
                  </select>
                </div>
                <div class="pf-filter-field">
                  <label for="dateRangePicker">Date Range</label>
                  <input type="text" id="dateRangePicker" name="dateRangePicker" readonly="readonly"
                    class="form-control" />
                </div>
              </div>
              <!-- Row 2: URL, Pages, Comments -->
              <div class="pf-filter-row">
                <div class="pf-filter-field pf-filter-url">
                  <label for="url">URL</label>
                  <input type="text" id="url" name="url" class="form-control" placeholder="Filter by URL...">
                </div>
                <div class="pf-filter-field pf-filter-pages">
                  <label for="pages">Page(s)</label>
                  <select id="pages" class="form-control" style="display: none;"></select>
                </div>
                <div class="pf-filter-field pf-filter-comments">
                  <label for="comments">Comments</label>
                  <input type="text" id="comments" name="comments" class="form-control"
                    placeholder="Search comments...">
                </div>
              </div>
              <!-- Row 3: Section, Theme, Error filter -->
              <div class="pf-filter-row">
                <div class="pf-filter-field">
                  <label for="section">Section</label>
                  <select class="form-control" id="section" name="section">
                    <option value>All</option>
                    <option value="budget">Budget</option>
                    <option value="business">Business</option>
                    <option value="c&p">C&P</option>
                    <option value="child">Child</option>
                    <option value="cpp retirement pension">CPP Retirement</option>
                    <option value="death">Death</option>
                    <option value="dental">Dental</option>
                    <option value="disability">Disability</option>
                    <option value="disability benefit">Disability benefit</option>
                    <option value="ecm">ECM</option>
                    <option value="education">Education</option>
                    <option value="employment insurance">EI</option>
                    <option value="eol">EOL</option>
                    <option value="family">Family</option>
                    <option value="feddevon">FedDev Ontario</option>
                    <option value="funding">Funding</option>
                    <option value="gst/hst">GST/HST</option>
                    <option value="health">Health</option>
                    <option value="health data">Health data</option>
                    <option value="help centre">Help centre</option>
                    <option value="housing">Housing</option>
                    <option value="job bank">Job bank</option>
                    <option value="mortgages">Mortgages</option>
                    <option value="msca">MSCA</option>
                    <option value="navigation">Navigation</option>
                    <option value="news">News</option>
                    <option value="old age security">OAS</option>
                    <option value="passports">Passports</option>
                    <option value="pay">Pay</option>
                    <option value="pensions">Pensions</option>
                    <option value="ptr">PTR</option>
                    <option value="retirement">Retirement</option>
                    <option value="retirement planning">Retirement planning</option>
                    <option value="sign in">Sign in</option>
                    <option value="skills for success">Skills for Success</option>
                    <option value="vaccines">Vaccines</option>
                  </select>
                </div>
                <div class="pf-filter-field">
                  <label for="theme">Theme</label>
                  <select class="form-control" id="theme" name="theme">
                    <option value>All</option>
                    <option value="aboutgov">About Gov</option>
                    <option value="benefits">Benefits</option>
                    <option value="business">Business</option>
                    <option value="canada and the world">World</option>
                    <option value="culture, history and sport">Culture</option>
                    <option value="defence">Defence</option>
                    <option value="environment and natural resources">Environment</option>
                    <option value="health">Health</option>
                    <option value="immigration">Immigration</option>
                    <option value="indegeneous">Indigenous</option>
                    <option value="jobs">Jobs</option>
                    <option value="money and finances">Money</option>
                    <option value="policing, justice and emergencies">Policing</option>
                    <option value="public service">Public service</option>
                    <option value="science and innovation">Science</option>
                    <option value="taxes">Taxes</option>
                    <option value="travel">Travel</option>
                    <option value="youth">Youth</option>
                  </select>
                </div>
                <div class="pf-filter-field pf-filter-checkbox-row">
                  <label class="pf-row-checkbox"
                    title="Only show comments containing error-related keywords (e.g., 'broken', 'not working', 'error')">
                    <input type="checkbox" id="errorComments" name="errorComments">
                    <span>Show comments with errors</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="pf-filter-footer">
              <div class="pf-stats">
                <div class="stat"><span class="totalCommentsCount">0</span> Total Comments</div>
              </div>
              <div class="pf-actions">
                <button type="button" class="btn btn-default btn-sm reset-filters"><i class="fa fa-refresh"></i>
                  Reset</button>
                <button type="button" class="btn btn-primary btn-sm" id="downloadCSV"><i class="fa fa-download"></i>
                  CSV</button>
                <button type="button" class="btn btn-primary btn-sm" id="downloadExcel"><i
                    class="fa fa-file-excel-o"></i> Excel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </main>
    <div class="col-lg-12">
      <div class="row custom-row">
        <div class="feedback-tool-data">
          <div class="table-scroll-container">
            <table id="myTable" class="wb-tables dataTable">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Comments</th>
                  <th>Department</th>
                  <th>Page title</th>
                  <th>Page URL</th>
                  <th>Time stamp</th>
                  <th>Language</th>
                  <th>Section</th>
                  <th>Theme</th>
                  <th>Device type</th>
                  <th>Browser</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <th:block layout:fragment="script">
    <script
      src="https://cdn.datatables.net/v/dt/jq-3.7.0/jszip-3.10.1/dt-2.3.2/b-3.2.0/b-html5-3.2.0/cr-2.0.4/fh-4.0.1/r-3.0.3/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="js/spring-friendly.min.js"></script>
    <script type="text/javascript" src="js/custom-dropdown.js"></script>

    <script th:inline="javascript">
      /*
          <![CDATA[*/
      var earliestDate = /*[[${earliestDate}]]*/ '';
      var latestDate = /*[[${latestDate}]]*/ '';
      var langSession = /*[[${session.lang}]]*/ '';
      /*]]>*/
    </script>
    <script src="/js/loading-overlay.js"></script>
    <script src="/js/pageFeedback.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
  </th:block>
</body>

</html>