<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{default}">

<div layout:fragment="content">
	<h1>Reports</h1>
	<ul>
		<li><a href="/python/frequent_words_en_all.png">Frequent Words
				(English)</a></li>
		<li><a href="/python/frequent_words_fr_all.png">Frequent Words
				(French)</a></li>
		<li><a href="/python/word_cloud_en.png">Word Cloud (English)</a></li>
		<li><a href="/python/word_cloud_fr.png">Word Cloud (French)</a></li>
		<li><a href="/python/feedback_by_reason.png">Feedback by reason</a></li>
		<li><a href="/python/feedback_by_task.png">Feedback by task</a></li>
		<li><a href="/python/word_cloud_fr.png">Word Cloud (French)</a></li>
		<li><a href="/python/frequent_missing_en.png">Frequent Missing
				(English)</a></li>
		<li><a href="/python/bigrams_en.txt">Bigrams (English)</a></li>
		<li><a href="/python/frequent_not_clear_en.png">Frequent Not Clear
				(English)</a></li>
		<li><a href="/python/trigrams_en.txt">Trigrams (English)</a></li>
		<li><a href="/python/bigrams_fr.txt">Bigrams (French)</a></li>
		<li><a href="/python/trigrams_fr.txt">Trigrams (French)</a></li>
	</ul>
</div>


</html>