<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{default}">
<div layout:fragment="content" class="wb-frmvld">
	<form class="formsignin" th:action="@{/signup}" method="post">
		<div class="form-group">
			<label for="email"> <span class="field-name">Email</span></label> <input
				name="email" id="email" class="form-control exists"
				placeholder="email" required="required" />
		</div>
		<div class="form-group">
			<label for="password">Password</label> <input type="password"
				name="password" id="password" class="form-control"
				placeholder="Password" required="required" />
		</div>
		<div class="form-group">
			<label for="department">Institution</label> 
			<select class="form-control" name="institution" id="institution">
				<option th:each="inst : ${institutions}" th:value="${inst}"
					th:text="${inst}"></option>
			</select>
		</div>
		<button class="btn btn-primary" type="submit">Sign Up</button>
	</form>
</div>


<th:block layout:fragment="script">
	<script th:inline="javascript">
		// custom code for the form
		$(document).on("wb-ready.wb", function(e) {

			// add a method. calls one built-in method, too.
			jQuery.validator.addMethod("exists", function(value, element) {
				var response = false;
				jQuery.ajax({
					contentType : "text",
					async : false,
					type : "GET",
					url : 'checkExists' + "?email=" + $("#email").val(),
					success : function(result) {
						if (result === "false") {
							response = true;
						} else {
							response = false;
						}
					},
					error : function(result) {
						response = true;
					}
				});

				return response;
			}, "Email address already registered.");

			// connect it to a css class
			jQuery.validator.addClassRules({
				exists : {
					exists : true
				}
			});

		});
	</script>
</th:block>
</html>