<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{wide_en}" lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    type="text/css" />
  <link
    href="https://cdn.datatables.net/v/dt/jq-3.7.0/jszip-3.10.1/dt-2.3.2/b-3.2.0/b-html5-3.2.0/cr-2.0.4/fh-4.0.1/r-3.0.3/datatables.min.css"
    rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" type="text/css" href="/css/topTaskSurvey_styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://unpkg.com/slim-select@2.13.1/dist/slimselect.min.js"></script>
  <link href="https://unpkg.com/slim-select@2.13.1/dist/slimselect.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <th:block layout:fragment="content">
    <main class="container">
      <div class="col-lg-12">
        <div class="row">
          <h1 id="wb-cont">GC Task Success Survey</h1>
          <form class="tss">
            <h2 class="h4">Filter by:</h2>
            <label for="tasks">
              Task(s)
              <select id="tasks" multiple></select>
            </label>
            <div class="form-group">
              <label for="department">Department</label>
              <select class="form-control" id="department" name="department">
                <option value>All</option>
                <!-- DEPARTMENTS -->
              </select>
            </div>

            <div class="form-group">
              <label for="theme">
                Theme
                <span id="theme-tool-tip" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              </label>
              <select class="form-control" id="theme" name="theme">
                <option value>All</option>
                <option value="Taxes / Impôts">Taxes / Impôts</option>
                <option value="Immigration / Immigration">Immigration / Immigration</option>
                <option value="Benefits / Prestations">Benefits / Prestations</option>
                <option value="World / Monde">World / Monde</option>
                <option value="Travel / Voyage">Travel / Voyage</option>
                <option value="Transport / Transport">Transport / Transport</option>
                <option value="Culture / Culture">Culture / Culture</option>
                <option value="Environment / Environnement">Environment / Environnement</option>
                <option value="Jobs / Emplois">Jobs / Emplois</option>
                <option value="Business / Entreprises">Business / Entreprises</option>
                <option value="Health / Santé">Health / Santé</option>
                <option value="AboutGov / À propos du Gouvernement (AboutGov)">AboutGov / À propos du Gouvernement
                  (AboutGov)</option>
                <option value="Money / Argent">Money / Argent</option>
                <option value="History / Histoire">History / Histoire</option>
                <option value="Indigenous / Autochtones">Indigenous / Autochtones</option>
                <option value="Security / Sécurité">Security / Sécurité</option>
                <option value="PublicService / Fonction publique">PublicService / Fonction publique</option>
                <option value="Science / Science">Science / Science</option>
                <option value="Policing / Police">Policing / Police</option>
                <option value="Business / Entreprise">Business / Entreprise</option>
                <option value="Money / Environnement">Money / Environnement</option>
                <option value="Jobs / Environnement">Jobs / Environnement</option>

              </select>
            </div>
            <div class="form-group">
              <label for="language">Language</label>
              <select class="form-control" id="language" name="language">
                <option value>All</option>
                <option value="en">English</option>
                <option value="fr">French</option>
              </select>
            </div>
            <label id="drp" for="dateRangePicker">
              Date Range
              <input type="text" id="dateRangePicker" name="dateRangePicker" readonly="readonly"
                style="background-color: white; cursor: pointer" />
            </label>
            <div class="form-group">

              <label for="group">
                Group
                <span id="group-tool-tip" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
              </label>
              <select class="form-control" id="group" name="group">
                <option value>All</option>
                <option value="LLO / PEC">LLO</option>
                <option value="MSCBA-ROE / MDESC-RE">MSCBA-ROE</option>
                <option value="MSCBA-GCOS / MDESC-SELSC">MSCBA-GCOS</option>
                <option value="SEF / SEF">SEF</option>
              </select>
            </div>
              <div class="form-group">
                  <label for="taskCompletion">
                      Able to<br>
                      complete<br>
                      task:
                  </label>
                  <select class="form-control" id="taskCompletion" name="taskCompletion">
                      <option value="">All</option>
                      <option value="Yes">Yes</option>
                      <option value="No">No</option>
                      <option value="I started this survey before I finished my visit">I started this survey before I finished my visit</option>
                  </select>
              </div>
            <div class="commentsCheckbox">
              <input type="checkbox" id="commentsCheckbox" name="commentsCheckbox">
              <label for="commentsCheckbox">Include only entries with comments</label>
            </div>

            <div class="download-section">
              <button type="button" class="btn btn-primary" id="downloadCSV">Download CSV</button>
              <button type="button" class="btn btn-primary" id="downloadExcel">Download Excel</button>
              <button type="button" class="btn-unstyled reset-filters">Reset Filters</button>
            </div>
          </form>
        </div>
      </div>
      <div class="clearfix"></div>
    </main>
    <div class="col-lg-12">
      <div class="stats-box">
        <div class="stat">
          <span class="description">Total unique tasks based on filters</span>
          <br>
          <span class="totalDistinctTasks"></span>
        </div>
        <div class="stat">
          <span class="description">Total Entries based on filters</span>
          <br>
          <span class="totalTaskCount"></span>
        </div>
      </div>
    </div>
    <!-- Add this code in your HTML file -->
    <div class="loading-spinner" style="display: none;">
      <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>
    <div class="col-lg-12">
      <div class="row custom-row">
        <div class="tss-data hidden">
          <table id="topTaskTable" class="hidden">
            <thead>
              <tr>
                <th>Date</th>
                <th>Time stamp</th>
                <th>Survey Referrer</th>
                <th>Language</th>
                <th>Device</th>
                <th>Screener</th>
                <th>Department</th>
                <th>Theme</th>
                <th>Theme Other</th>
                <th>Grouping</th>
                <th>Task</th>
                <th>Task Other</th>
                <th>Task Satisfaction</th>
                <th>Task Ease</th>
                <th>Task Completion</th>
                <th>Task Improve</th>
                <th>Task Improve Comment</th>
                <th>Task Why Not</th>
                <th>Task Why Not Comment</th>
                <th>Sampling</th>
                <th>Sampling Invitation</th>
                <th>Sampling GC</th>
                <th>Sampling Canada</th>
                <th>Sampling Theme</th>
                <th>Sampling Institution</th>
                <th>Sampling Group</th>
                <th>Sampling Task</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
      <div class="col-lg-12">
          <div class="row custom-row">
              <div class="feedback-tool-data">
                  <table id="myTable" class="display compact">
                      <thead>
                      <tr>
                          <th>Date</th>
                          <th>Task Improve Comment</th>
                          <th>Task Why Not Comment</th>
                          <th>Task</th>
                      </tr>
                      </thead>
                      <tbody></tbody>
                  </table>
              </div>
          </div>
      </div>
  </th:block>
  <th:block layout:fragment="script">
    <script
      src="https://cdn.datatables.net/v/dt/jq-3.7.0/jszip-3.10.1/dt-2.3.2/b-3.2.0/b-html5-3.2.0/cr-2.0.4/fh-4.0.1/r-3.0.3/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="js/spring-friendly.min.js"></script>
    <script th:inline="javascript">
      /*
            <![CDATA[*/
      var earliestDate = /*[[${earliestDate}]]*/ "";
      var latestDate = /*[[${latestDate}]]*/ "";
      var langSession = /*[[${session.lang}]]*/ "";
      /*]]>*/
    </script>
    <script src="/js/topTaskSurvey.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
  </th:block>
</body>

</html>