<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{wide_en}" lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    type="text/css" />
  <link
    href="https://cdn.datatables.net/v/dt/jq-3.7.0/jszip-3.10.1/dt-2.3.2/b-3.2.0/b-html5-3.2.0/cr-2.0.4/fh-4.0.1/r-3.0.3/datatables.min.css"
    rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" type="text/css" href="/css/topTaskSurvey_styles.css" />
  <link rel="stylesheet" type="text/css" href="/css/loading-overlay.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <th:block layout:fragment="content">
    <main class="container">
      <div class="col-lg-12">
        <div class="row">
          <h1 id="wb-cont">GC Task Success Survey</h1>

          <!-- Filter Panel -->
          <div class="tss-filter-panel">
            <div class="tss-filter-grid">
              <!-- Row 1: Department, Theme, Language -->
              <div class="tss-filter-row">
                <div class="tss-filter-field">
                  <label for="department">Department</label>
                  <select class="form-control" id="department" name="department">
                    <option value>All</option>
                  </select>
                </div>
                <div class="tss-filter-field">
                  <label for="theme">Theme</label>
                  <select class="form-control" id="theme" name="theme">
                    <option value>All</option>
                    <option value="Taxes / Impôts">Taxes</option>
                    <option value="Immigration / Immigration">Immigration</option>
                    <option value="Benefits / Prestations">Benefits</option>
                    <option value="World / Monde">World</option>
                    <option value="Travel / Voyage">Travel</option>
                    <option value="Transport / Transport">Transport</option>
                    <option value="Culture / Culture">Culture</option>
                    <option value="Environment / Environnement">Environment</option>
                    <option value="Jobs / Emplois">Jobs</option>
                    <option value="Business / Entreprises">Business</option>
                    <option value="Health / Santé">Health</option>
                    <option value="AboutGov / À propos du Gouvernement (AboutGov)">AboutGov</option>
                    <option value="Money / Argent">Money</option>
                    <option value="History / Histoire">History</option>
                    <option value="Indigenous / Autochtones">Indigenous</option>
                    <option value="Security / Sécurité">Security</option>
                    <option value="PublicService / Fonction publique">Public Service</option>
                    <option value="Science / Science">Science</option>
                    <option value="Policing / Police">Policing</option>
                  </select>
                </div>
                <div class="tss-filter-field">
                  <label for="language">Language</label>
                  <select class="form-control" id="language" name="language">
                    <option value>All</option>
                    <option value="en">EN</option>
                    <option value="fr">FR</option>
                  </select>
                </div>
              </div>
              <!-- Row 2: Group, Completion, Date Range -->
              <div class="tss-filter-row">
                <div class="tss-filter-field">
                  <label for="group">Group</label>
                  <select class="form-control" id="group" name="group">
                    <option value>All</option>
                    <option value="LLO / PEC">LLO</option>
                    <option value="MSCBA-ROE / MDESC-RE">MSCBA-ROE</option>
                    <option value="MSCBA-GCOS / MDESC-SELSC">MSCBA-GCOS</option>
                    <option value="SEF / SEF">SEF</option>
                  </select>
                </div>
                <div class="tss-filter-field">
                  <label for="taskCompletion">Completion</label>
                  <select class="form-control" id="taskCompletion" name="taskCompletion">
                    <option value="">All</option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                    <option value="I started this survey before I finished my visit">In Progress</option>
                  </select>
                </div>
                <div class="tss-filter-field">
                  <label for="dateRangePicker">Date Range</label>
                  <input type="text" id="dateRangePicker" name="dateRangePicker" readonly="readonly"
                    class="form-control" />
                </div>
              </div>
              <!-- Row 3: Task, Comments, Checkbox -->
              <div class="tss-filter-row">
                <div class="tss-filter-field tss-filter-task">
                  <label for="tasks">Task</label>
                  <select id="tasks" class="form-control" style="display: none;"></select>
                </div>
                <div class="tss-filter-field tss-filter-comments">
                  <label for="comments">Comments</label>
                  <input type="text" id="comments" name="comments" class="form-control"
                    placeholder="Search in comments...">
                </div>
                <div class="tss-filter-field tss-filter-checkbox-row">
                  <label class="tss-row-checkbox" title="Only show entries that have comments">
                    <input type="checkbox" id="commentsCheckbox" name="commentsCheckbox">
                    <span>With comments only</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="tss-filter-footer">
              <div class="tss-stats">
                <div class="stat"><span class="totalDistinctTasks">0</span> Unique Tasks</div>
                <div class="stat"><span class="totalTaskCount">0</span> Total Entries</div>
              </div>
              <div class="tss-actions">
                <button type="button" class="btn btn-default btn-sm reset-filters"><i class="fa fa-refresh"></i>
                  Reset</button>
                <button type="button" class="btn btn-primary btn-sm" id="downloadCSV"><i class="fa fa-download"></i>
                  CSV</button>
                <button type="button" class="btn btn-primary btn-sm" id="downloadExcel"><i
                    class="fa fa-file-excel-o"></i> Excel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </main>

    <div class="loading-spinner" style="display: none;">
      <i class="fa fa-spinner fa-spin fa-3x"></i>
    </div>
    <div class="col-lg-12">
      <div class="row custom-row">
        <div class="keywords-table-wrapper">
          <div class="table-scroll-container">
            <table id="topTaskTable" class="wb-tables dataTable" style="width: 100%">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Time stamp</th>
                  <th>Survey Referrer</th>
                  <th>Language</th>
                  <th>Device</th>
                  <th>Screener</th>
                  <th>Department</th>
                  <th>Theme</th>
                  <th>Theme Other</th>
                  <th>Grouping</th>
                  <th>Task</th>
                  <th>Task Other</th>
                  <th>Task Satisfaction</th>
                  <th>Task Ease</th>
                  <th>Task Completion</th>
                  <th>Task Improve</th>
                  <th>Task Improve Comment</th>
                  <th>Task Why Not</th>
                  <th>Task Why Not Comment</th>
                  <th>Sampling</th>
                  <th>Sampling Invitation</th>
                  <th>Sampling GC</th>
                  <th>Sampling Canada</th>
                  <th>Sampling Theme</th>
                  <th>Sampling Institution</th>
                  <th>Sampling Group</th>
                  <th>Sampling Task</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </th:block>
  <th:block layout:fragment="script">
    <script
      src="https://cdn.datatables.net/v/dt/jq-3.7.0/jszip-3.10.1/dt-2.3.2/b-3.2.0/b-html5-3.2.0/cr-2.0.4/fh-4.0.1/r-3.0.3/datatables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="js/spring-friendly.min.js"></script>
    <script src="/js/custom-dropdown.js"></script>
    <script th:inline="javascript">
      /*
            <![CDATA[*/
      var earliestDate = /*[[${earliestDate}]]*/ "";
      var latestDate = /*[[${latestDate}]]*/ "";
      var langSession = /*[[${session.lang}]]*/ "";
      /*]]>*/
    </script>
    <script src="/js/loading-overlay.js"></script>
    <script src="/js/topTaskSurvey.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
  </th:block>
</body>

</html>