<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{wide}" lang="en">

<th:block layout:fragment="content">
	<table class="wb-tables table">
		<thead>
			<tr>
				<th>Email</th>
				<th>Institution</th>
				<th>Role</th>
				<th>Date Created</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:remove="tag" th:utext="${data}"></tr>
		</tbody>
	</table>
</th:block>
<th:block layout:fragment="script">
	<script th:inline="javascript">
		$(document).on("wb-ready.wb", function() {
			$(".deleteBtn").on("click", function(e) {
				var id = $(e.target).attr("id").replace("delete", "");
				$.ajax({
					type : "get",
					data : {
						"id" : id
					},
					cache : false,
					url : "/u/delete",
					dataType : "text",
					error : function(xhr, status, error) {
						console.log(xhr.responseText);
					},
					success : function() {
						$(e.target).parent().parent().parent().remove();
					}
				});
			});

			$("body").on("click",".enableBtn", function(e) {
				var id = $(e.target).attr("id").replace("enable", "");
				$.ajax({
					type : "get",
					data : {
						"id" : id,
						"enabled" : true
					},
					cache : false,
					url : "/u/update",
					dataType : "text",
					error : function(xhr, status, error) {
						console.log(xhr.responseText);
					},
					success : function() {
						var items = $("#enable" + id).parent().parent().parent().find("td");
						$(items.get(4)).text("Enabled");
						$("#enable" + id).replaceWith("<button id='disable" + id
								+ "' class='btn btn-xs disableBtn'>Disable</button>");
						
					}
				});
			});
			
			$("body").on("click",".disableBtn", function(e) {
				var id = $(e.target).attr("id").replace("disable", "");
				$.ajax({
					type : "get",
					data : {
						"id" : id,
						"enabled" : false
					},
					cache : false,
					url : "/u/update",
					dataType : "text",
					error : function(xhr, status, error) {
						console.log(xhr.responseText);
					},
					success : function() {
						var items = $("#disable" + id).parent().parent().parent().find("td");
						$("#disable" + id).replaceWith("<button id='enable" + id
							+ "' class='btn btn-xs enableBtn'>Enable</button>");
						$(items.get(4)).text("Awaiting approval");
					}
				});
			});
		});
	</script>
</th:block>
</html>
