<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js lt-ie9" th:lang="${lang}" dir="ltr"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" dir="ltr" th:lang="${lang}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title th:text="#{title}"></title>
<meta content="width=device-width,initial-scale=1" name="viewport">
<!-- Meta data -->
<meta name="description" th:content="#{description}">
<!-- Meta data-->
<!-- Load closure template scripts -->

<script
	src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/rn/cdts/compiled/soyutils.js"></script>
<script
	th:src="${'https://www.canada.ca/etc/designs/canada/cdts/gcweb/rn/cdts/compiled/wet-' + lang + '.js'}"></script>
<noscript>
	<!-- Write closure fall-back static file -->
	<!-- /ROOT/etc/designs/canada/cdts/gcweb/v4_0_31/cdts/static/refTop.html -->
</noscript>
<!-- Write closure template -->
<script>
	document.write(wet.builder.refTop({
		"isApplication" : true,
		"cdnEnv" : "prod"
	}));
</script>
</head>
<body vocab="http://schema.org/" typeof="WebPage">
	<div id="def-top">
		<!-- Write closure fall-back static file -->
		<!-- /ROOT/etc/designs/canada/cdts/gcweb/v4_0_28/cdts/static/top-${lang}.html -->
	</div>

	<!-- Write closure template -->
	<script sec:authorize="hasAuthority('ADMIN')">
		var defTop = document.getElementById("def-top");
		defTop.outerHTML = wet.builder.appTop({
			"cdnEnv" : "prod",
			"appName" : [ {
				"text" : "[[#{title}]]",
				"href" : "https://pagesuccess.tbs.alpha.canada.ca"
			} ],
			"menuPath" : "/menu/admin_[[${lang}]].html",
			"signOut" : [ {
				"href" : "/logout"
			} ],
			lngLinks : [ {
				lang : "[[${altLang}]]",
				href : "[[${langUrl}]]",
				text : "[[${altLangText}]]",
			} ]
		});
	</script>
	<script sec:authorize="hasAuthority('USER')">
		var defTop = document.getElementById("def-top");
		defTop.outerHTML = wet.builder.appTop({
			"cdnEnv" : "prod",
			"appName" : [ {
				"text" : "[[#{title}]]",
				"href" : "https://pagesuccess.tbs.alpha.canada.ca"
			} ],
			"menuPath" : "/menu/user_[[${lang}]].html",
			"signOut" : [ {
				"href" : "/logout"
			} ],
			lngLinks : [ {
				lang : "[[${altLang}]]",
				href : "[[${langUrl}]]",
				text : "[[${altLangText}]]",
			} ]
		});
	</script>
	<script sec:authorize="isAnonymous()">
		var defTop = document.getElementById("def-top");
		defTop.outerHTML = wet.builder.appTop({
			"cdnEnv" : "prod",
			"appName" : [ {
				"text" : "[[#{title}]]",
				"href" : "https://problem.tbs.alpha.canada.ca"
			} ],
			lngLinks : [ {
				lang : "[[${altLang}]]",
				href : "[[${langUrl}]]",
				text : "[[${altLangText}]]"
			} ]
		});
	</script>
	<main role="main" property="mainContentOfPage" class="container-fluid">
		<br />
		<th:block layout:fragment="content"></th:block>
		<div id="def-preFooter">
			<!-- Write closure fall-back static file -->
			<!-- /ROOT/etc/designs/canada/cdts/gcweb/v4_0_28/cdts/static/preFooter-${lang}.html -->
		</div>
		<!-- Write closure template -->
		<script>
			var defPreFooter = document.getElementById("def-preFooter");
			defPreFooter.outerHTML = wet.builder.preFooter({
				"dateModified" : "2019-05-01"
			});
		</script>
	</main>
	<div id="def-footer">
		<!-- Write closure fall-back static file -->
		<!-- /ROOT/etc/designs/canada/cdts/gcweb/v4_0_28/cdts/static/footer-${lang}.html -->
	</div>
	<!-- Write closure template -->
	<script>
		var defFooter = document.getElementById("def-footer");
		defFooter.outerHTML = wet.builder.appFooter({
			"cdnEnv" : "prod",
			"showFeatures" : false
		});
	</script>
	<!-- Write closure template -->
	<script>
		document.write(wet.builder.refFooter({
			"cdnEnv" : "prod",
			"isApplication" : true
		}));
	</script>
	<th:block layout:fragment="script"></th:block>
</body>
</html>
