apiVersion: v1
kind: Service
metadata:
  name: feedback-viewer
spec:
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
  selector:
    app: feedback-viewer
  sessionAffinity: None
  type: ClusterIP
