name: Deploy to AKS Cluster
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Decrypt large secret
        run: ./scripts/decrypt.sh
        env:
          APPLICATION_PROPERTIES_PASSPHRASE: ${{ secrets.APPLICATION_PROPERTIES_PASSPHRASE }}

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build with Maven
        run: mvn install --file pom.xml

      - uses: Azure/docker-login@v1
        with:
          login-server: tbsacr.azurecr.io
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - run: |
          docker build -f ./docker/Dockerfile . -t tbsacr.azurecr.io/feedback-viewer:${{ github.sha }}
          docker push tbsacr.azurecr.io/feedback-viewer:${{ github.sha }}

      # Set the target AKS cluster.
      - uses: Azure/aks-set-context@v1
        with:
          creds: "${{ secrets.AZURE_CREDENTIALS }}"
          cluster-name: tbs-prod-aks
          resource-group: tbs-prod-rg

      - uses: Azure/k8s-deploy@v1
        with:
          manifests: |
            kubernetes/feedback-viewer-deployment.yml
            kubernetes/feedback-viewer-service.yml
            kubernetes/feedback-viewer-ingress.yml
          images: |
            tbsacr.azurecr.io/feedback-viewer:${{ github.sha }}
          namespace: |
            pagesuccess
